<h1><%= @timetable.name %> <small>Routes</small></h1>

<p class="lead">Showing all bus routes</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Route</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% curr_route = '' %>
    <% @timetable.routes.order('name').each do |route| %>
      <% if curr_route != route.name %>
        <tr><th><%= route.name %></th></tr>
      <% end %>
      <tr>
        <td><%= route.start %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <%= form_for [:buses, @timetable, @route] do |f| %>
      <td><%= f.text_field :start_day %></td>
      <td><%= f.text_field :end_day %></td>
      <td><%= f.submit 'Submit' %>
      <% end %>
    </tr>
  </tfoot>
</table>