<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Buses", buses_path %></li>
    <li class="active">Stop Time Exceptions</a>
  </ol>
<% end %>

<h2 class="page-header">Exceptions
  <% if user_signed_in? %>
<%= link_to 'New Stop link exception', new_buses_stop_time_exception_path, :class => "btn btn-primary pull-right" %>
<% end %></h2>

<p>List of exceptions to regular bus stop timing rules


</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <% if user_signed_in? %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @stop_time_exceptions.each do |stop_link_exception| %>
      <tr>
        <td style="width:40px" title="#<%= stop_link_exception.colour %>">
          <div style="width:20px;height:20px;border:1px solid #000;background-color:#<%= stop_link_exception.colour %>"></div>
        </td>
        <td><%= link_to stop_link_exception.name, buses_stop_time_exception_path(stop_link_exception) %></td>
        <% if user_signed_in? %>
        <td align="right">
          <%= link_to 'Edit', edit_buses_stop_time_exception_path(stop_link_exception) %> | 
          <%= link_to 'Destroy', buses_stop_time_exception_path(stop_link_exception), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


