<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Buses", buses_path %></li>
    <li><%= link_to @stop_time_exception.timetable.name + ' Timetable', buses_timetable_path(start_date: @stop_time_exception.timetable.start_date) %>
    <li class="active"><%= @stop_time_exception.name %></li>
  </ol>
<% end %>

<h2 class="page-header">Stop Link Exception '<%= @stop_time_exception.name %>'</h2>

<p>Colour: <%= @stop_time_exception.colour %><small>Note: this is the colour used on timetables to show what kind of exception this is.</small></p>

<h3>Associated Stop Links</h3>

Show list of stop links that use this stop link exception here..

<%= link_to 'Back', buses_timetable_stop_time_exceptions_path %>