<h1>Route Stops</h1>

<p class="lead">Showing all stops on this route</p>

<table class="table table-striped">
  <thead>
    <tr>
    <% @ordered_route_stops.each do |stop| %>
      <th><%= stop.stop.name %></th>
    <% end %>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      
      
      
      <%= form_tag(@route.id.to_s + '/route_stops/create_stop_links') do -%>
      
      <% @new_stop_link_set.each.with_index do |stop_link,index| %>
        <td>
          <%= fields_for "stop_links[#{index}]", stop_link do |sl| %>
            <%= sl.hidden_field :origin_stop_link_id, :value => stop_link.origin_stop_link.id %>
            <%= sl.hidden_field :route_stop_id, :value => stop_link.route_stop.id %>
            <%= sl.text_field :time %>
            
            <%= sl.label :display %>
            <%= sl.check_box :display %>
            
            <%= sl.label :skip %>
            <%= sl.check_box :skip %>
            
            <%= sl.label :arrive %>
            <%= sl.check_box :arrive %>
            
            <%= sl.label :depart %>
            <%= sl.check_box :depart %>
            
            <%= sl.label :night %>
            <%= sl.check_box :night %>
          <% end %>
        </td>
      <% end %>
      


        <%= submit_tag %>
      <% end %>
    </tr>
  </tbody>
</table>


<h3>Stops</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Stop</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @route.route_stops.each do |route_stop| %>
    <tr>
      <td>Move up button</td>
      <td>Move down button</td>
      <td><%= route_stop.stop.name %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <%= form_for [:api, :v1, :buses, @timetable, @route, @route_stop] do |f| %>
    <tr>
      <td><%= f.select(:stop_id, options_for_select(Stop.all.map { |stop| [stop.name, stop.id] }))%></td>
      <td><%= f.hidden_field(:route_id, { :value => @route.id })%>
        <%= f.submit "Add" %></td>
    </tr>
    <% end %>
  </tfoot>
</table>