<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Buses", api_v1_buses_path %></li>
    <li><%= link_to @timetable.name + ' Timetable', api_v1_buses_timetable_path(:start_date => @timetable.start_date) %></li>
    <li class="active">Route <%= @route.name%></li>
  </ol>
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(function() {
      var url = document.location.toString();
      if (url.match('#')) {
          $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
      } 

      // Change hash for page-reload
      $('.nav-tabs a').on('shown', function (e) {
          window.location.hash = e.target.hash;
      })
    });
  </script>
<% end %>

<h1 class="page-header">Route <%= @route.name %> Details <small><%= Date::DAYNAMES[@route.start_day] %> - <%= Date::DAYNAMES[@route.end_day] %></small></h1>

<%= button_to 'Delete', api_v1_buses_timetable_route_path(:timetable_start_date => @timetable.start_date, :id => @route.id), method: :delete, data: { confirm: 'Are you sure you wish to delete this route?' }, :class => "btn btn-danger btn-sm pull-right", :style => "margin-left:10px" %>
<p class="pull-right"  style="margin:7px;"><%= link_to 'Edit', edit_api_v1_buses_timetable_route_path(:timetable_start_daye => @timetable.start_date, :id => @route.id)%></p>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#times" data-toggle="tab">Times</a></li>
  <li><a href="#stops" data-toggle="tab">Stops</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="times">
    
    <% if @route.route_stops.count == 0 %>
      <h3 class="text-center">No stops available! To get started, hit the 'Stops' tab above.</h3>
    <% else %>
      <h3>Route Times</h3>
      <%= form_tag(@route.id.to_s + '/route_stops/create_stop_links') do -%>
      <div style="overflow-y:scroll">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Stops</th>
            <th colspan="<%= @ordered_route_stops.count %>">Times</th>
          </tr>
        </thead>
        <tbody>
          <% for i in 0...@ordered_route_stops.length %>
          <tr>
            <td><strong><%= @ordered_route_stops[i].stop.name %></strong></td>
            <% @stop_links.each do |sl| %>
              <td><%= sl[i].time_string %><%= sl[i].skip ? "»" : "" %><%= sl[i].night ? "☽" : "" %></td>
            <% end %>
            <td style="padding:5px; white-space:nowrap">
              <%= fields_for "stop_links[#{i}]", @new_stop_link_set[i], :child_index => i do |sl| %>
              
                <div class="form-inline">
                  <%= sl.text_field :time, { :class => "form-control input-sm", :maxlength => "6", :placeholder => "HH:mm" } %>
                  
                  <div class="checkbox">
                    <label class="checkbox-inline">
                      <%= sl.check_box :skip, { :tabindex => "-1" } %> Skip
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="checkbox-inline">
                       <%= sl.check_box :night, { :tabindex => "-1" } %> Night
                    </label>
                  </div>
                 
                  
                </div>
                <%= sl.hidden_field :route_stop_id, :value => @new_stop_link_set[i].route_stop.id %>
                <%= sl.hidden_field :route_id, :value => @route.id %>
                <% end %>
        
                <%= hidden_field :timetable_start_date, :value => @timetable.start_date %>
                <%= hidden_field :route_id, :value => @route.id %>
            </td>
          </tr>
          <% end %>
        </tbody>
    
        <tfoot>
          <tr>
            <td></td>
            <% @stop_links.each do |sl| %>
              <td>
                <%= link_to api_v1_buses_timetable_route_stop_link_path(:route_id => @route.id, :id => sl[0].origin_stop_link_id), :title => "Edit" do %>
                  <span class="glyphicon glyphicon-edit"></span>
                <% end %>
                <%= link_to api_v1_buses_timetable_route_stop_link_path(:route_id => @route.id, :id => sl[0].origin_stop_link_id), :title => "Delete",:class => "text-danger", :method => :delete, :confirm => "Are you sure you wish to delete this chain of stop times?" do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              </td>
            <% end %>
            <td><%= submit_tag "Add Link", class: "btn btn-primary btn-sm" %></td>
          </tr>
        </tfoot>
      </table>
    </div>
      <% end %>
    <% end %>
    
  </div>
  <div class="tab-pane" id="stops">
    <h3>Stops</h3>
    
    <%= form_for [:api, :v1, :buses, @timetable, @route, @route_stop], :html => { :class => 'form-inline' } do |f| %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Stop</th>
            <th>Display?</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @route.route_stops.each do |route_stop| %>
          <tr>
            <td style="width:30px"><a href="#"><span class="glyphicon glyphicon-arrow-up"></span></a></td>
            <td style="width:30px"><a href="#"><span class="glyphicon glyphicon-arrow-down"></span></a></td>
            <td><%= route_stop.stop.name %></td>
            <td><%= route_stop.display ? "Yes" : "No" %></td>
            <td><%= route_stop.stop.latitude %></td>
            <td><%= route_stop.stop.longitude %></td>
            <td><%= link_to 'Destroy', api_v1_buses_timetable_route_route_stop_path(:timetable_start_date => @timetable.start_date, :route_id => @route.id, :id => route_stop.id),
                      method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
          <% if @route.route_stops.count == 0 %>
            <tr>
              <td colspan="7"><h3 class="text-center">No stops have been added yet!</h3></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2"></td>
            <td><%= f.select(:stop_id, options_for_select(@timetable.stops.map { |stop| ["#{stop.name} (Lat: #{stop.latitude} Lng: #{stop.longitude})", stop.id] }), {}, { :class => "form-control input-sm"})%></td>
            <td><%= f.check_box :display, :checked => 'checked' %></td>
            <td colspan="3">
              <%= f.hidden_field :route_id %>
              <%= f.submit "Add Stop", class: "btn btn-primary btn-sm" %></td>
          </tr>
        </tfoot>
      </table>
      <% end %>
  </div>
</div>