<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Developers", developers_path %></li>
    <li><%= link_to "Traffic", developers_traffic_path %></li>
    <li class="active">Traffic</a>
  </ol>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Offence</th>
      <th>Year</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% @traffic.each do |f| %>
    <tr>
    <td><%= f['Offence'] %></td>
    <td><%= f['Year'] %></td>
    <td><%= f['Count'] %></td>
    </tr>
    <% end %>
  </tbody>
</table>