<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Earnings", api_v1_earnings_path %></li>
    <li class="active">Earnings Age Group</a>
  </ol>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Year</th>
      <th>Age Group</th>
      <th>Lower Quartile Earnings</th>
      <th>Median Earnings</th>
      <th>Upper Quartile Earnings</th>
    </tr>
  </thead>
  <tbody>
    <% @earnings_age_group.each do |f| %>
    <tr>
    <td><%= f['Year'] %></td>
    <td><%= f['Age Group'] %></td>
    <td><%= f['Lower quartile earnings'] %></td>
    <td><%= f['Median earnings'] %></td>
    <td><%= f['Upper quartile earnings'] %></td>
    </tr>
    <% end %>
  </tbody>
</table>