<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li class="active">Earnings</li>
  </ol>
<% end %>

<h2>Earnings</h2>
<h3>By Age Group</h3>
<div class="row">
  <div class="col-md-4 padded-cell">
    <%= link_to image_tag("note-64x64.png"), api_v1_earnings_earnings_age_group_path(:format => "xml") %>
      XML
  </div>
  <div class="col-md-4 padded-cell">
  <%= link_to image_tag("note-64x64.png"), api_v1_earnings_earnings_age_group_path(:format => "json") %>
    JSON
  </div>
  <div class="col-md-4 padded-cell">
  <%= link_to image_tag("note-64x64.png"), api_v1_earnings_earnings_age_group_path(:format => "html") %>
    HTML
  </div>
</div>

<h3>By Sex</h3>
<div class="row">
  <div class="col-md-4 padded-cell">
    <%= link_to image_tag("note-64x64.png"), api_v1_earnings_earnings_sex_path(:format => "xml") %>
      XML
  </div>
  <div class="col-md-4 padded-cell">
  <%= link_to image_tag("note-64x64.png"), api_v1_earnings_earnings_sex_path(:format => "json") %>
    JSON
  </div>
  <div class="col-md-4 padded-cell">
  <%= link_to image_tag("note-64x64.png"), api_v1_earnings_earnings_sex_path(:format => "html") %>
    HTML
  </div>
</div>

<h3>By Sector</h3>
<div class="row">
  <div class="col-md-4 padded-cell">
    <%= link_to image_tag("note-64x64.png"), api_v1_earnings_earnings_sector_path(:format => "xml") %>
      XML
  </div>
  <div class="col-md-4 padded-cell">
  <%= link_to image_tag("note-64x64.png"), api_v1_earnings_earnings_sector_path(:format => "json") %>
    JSON
  </div>
  <div class="col-md-4 padded-cell">
  <%= link_to image_tag("note-64x64.png"), api_v1_earnings_earnings_sector_path(:format => "html") %>
    HTML
  </div>
</div>

<h3>Source</h3>
<%= link_to 'gov.gg website', 'http://www.gov.gg/earnings' %>

<h3>Chart Examples</h3>
<h2>Nominal Earnings by Sex</h2>
<span style="background-color: rgba(220,220,220,0.5);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Female
<span style="background-color: rgba(151,187,205,0.5);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Male
<div>
<canvas id="earningsSex" width="800" height="400"></canvas>
</div>
<%= javascript_tag do %>
  var ctx = document.getElementById("earningsSex").getContext("2d");

  var data = {
  labels : <%= @earnings_sex.uniq { |p| p['Year'] }.collect { |p| p['Year'] } %>,
  datasets : [
      {
        fillColor : "rgba(220,220,220,0.5)",
        strokeColor : "rgba(220,220,220,1)",
        pointColor : "rgba(220,220,220,1)",
        pointStrokeColor : "#fff",
        data : <%= @earnings_sex.select { |p| p['Sex'] == 'Female' }.collect{ |p| p['Nominal median earnings'] } %>
      },
      {
        fillColor : "rgba(151,187,205,0.5)",
        strokeColor : "rgba(151,187,205,1)",
        pointColor : "rgba(151,187,205,1)",
        pointStrokeColor : "#fff",
        data : <%= @earnings_sex.select { |p| p['Sex'] == 'Male' }.collect{ |p| p['Nominal median earnings'] } %>
      }
    ]
  };

  var myNewChart = new Chart(ctx).Bar(data);
<% end %>

<h2>Earnings by Age Group (2012)</h2>
<span style="background-color: rgba(220,220,220,0.5);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Lower Quartile
<span style="background-color: rgba(151,187,205,0.5);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Median
<span style="background-color: rgba(80,130,205,0.5);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Upper Quartile
<div>
<canvas id="earningsAge2012" width="800" height="400"></canvas>
</div>
<%= javascript_tag do %>
  var ctx = document.getElementById("earningsAge2012").getContext("2d");

  var data = {
  labels : <%= @earnings_age_group.select { |p| p['Year'] == 2012 }.collect { |p| p['Age Group'] }.to_s.html_safe %>,
  datasets : [
      {
        fillColor : "rgba(220,220,220,0.5)",
        strokeColor : "rgba(220,220,220,1)",
        pointColor : "rgba(220,220,220,1)",
        pointStrokeColor : "#fff",
        data : <%= @earnings_age_group.select { |p| p['Year'] == 2012 }.collect{ |p| p['Lower quartile earnings'] } %>
      },
      {
        fillColor : "rgba(151,187,205,0.5)",
        strokeColor : "rgba(151,187,205,1)",
        pointColor : "rgba(151,187,205,1)",
        pointStrokeColor : "#fff",
        data : <%= @earnings_age_group.select { |p| p['Year'] == 2012 }.collect{ |p| p['Median earnings'] } %>
      },
      {
        fillColor : "rgba(80,130,205,0.5)",
        strokeColor : "rgba(80,130,205,1)",
        pointColor : "rgba(80,130,205,1)",
        pointStrokeColor : "#fff",
        data : <%= @earnings_age_group.select { |p| p['Year'] == 2012 }.collect{ |p| p['Upper quartile earnings'] } %>
      }
    ]
  };

  var myNewChart = new Chart(ctx).Bar(data);
<% end %>

<h2>Earnings by Age Group (2013)</h2>
<span style="background-color: rgba(220,220,220,0.5);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Lower Quartile
<span style="background-color: rgba(151,187,205,0.5);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Median
<span style="background-color: rgba(80,130,205,0.5);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Upper Quartile
<div>
<canvas id="earningsAge2013" width="800" height="400"></canvas>
</div>
<%= javascript_tag do %>
  var ctx = document.getElementById("earningsAge2013").getContext("2d");

  var data = {
  labels : <%= @earnings_age_group.select { |p| p['Year'] == 2013 }.collect { |p| p['Age Group'] }.to_s.html_safe %>,
  datasets : [
      {
        fillColor : "rgba(220,220,220,0.5)",
        strokeColor : "rgba(220,220,220,1)",
        pointColor : "rgba(220,220,220,1)",
        pointStrokeColor : "#fff",
        data : <%= @earnings_age_group.select { |p| p['Year'] == 2013 }.collect{ |p| p['Lower quartile earnings'] } %>
      },
      {
        fillColor : "rgba(151,187,205,0.5)",
        strokeColor : "rgba(151,187,205,1)",
        pointColor : "rgba(151,187,205,1)",
        pointStrokeColor : "#fff",
        data : <%= @earnings_age_group.select { |p| p['Year'] == 2013 }.collect{ |p| p['Median earnings'] } %>
      },
      {
        fillColor : "rgba(80,130,205,0.5)",
        strokeColor : "rgba(80,130,205,1)",
        pointColor : "rgba(80,130,205,1)",
        pointStrokeColor : "#fff",
        data : <%= @earnings_age_group.select { |p| p['Year'] == 2013 }.collect{ |p| p['Upper quartile earnings'] } %>
      }
    ]
  };

  var myNewChart = new Chart(ctx).Bar(data);
<% end %>