<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li class="active">Earnings</li>
  </ol>
<% end %>

<h2>Earnings</h2>
<h3>By Age Group</h3>
<div class="row">
  <div class="col-md-4 padded-cell">
    <%= link_to image_tag("note-64x64.png"), api_v1_earnings_earnings_age_group_path(:format => "xml") %>
      XML
  </div>
  <div class="col-md-4 padded-cell">
  <%= link_to image_tag("note-64x64.png"), api_v1_earnings_earnings_age_group_path(:format => "json") %>
    JSON
  </div>
  <div class="col-md-4 padded-cell">
  <%= link_to image_tag("note-64x64.png"), api_v1_earnings_earnings_age_group_path(:format => "html") %>
    HTML
  </div>
</div>

<h3>By Sex</h3>
<div class="row">
  <div class="col-md-4 padded-cell">
    <%= link_to image_tag("note-64x64.png"), api_v1_earnings_earnings_sex_path(:format => "xml") %>
      XML
  </div>
  <div class="col-md-4 padded-cell">
  <%= link_to image_tag("note-64x64.png"), api_v1_earnings_earnings_sex_path(:format => "json") %>
    JSON
  </div>
  <div class="col-md-4 padded-cell">
  <%= link_to image_tag("note-64x64.png"), api_v1_earnings_earnings_sex_path(:format => "html") %>
    HTML
  </div>
</div>

<h3>By Sector</h3>
<div class="row">
  <div class="col-md-4 padded-cell">
    <%= link_to image_tag("note-64x64.png"), api_v1_earnings_earnings_sector_path(:format => "xml") %>
      XML
  </div>
  <div class="col-md-4 padded-cell">
  <%= link_to image_tag("note-64x64.png"), api_v1_earnings_earnings_sector_path(:format => "json") %>
    JSON
  </div>
  <div class="col-md-4 padded-cell">
  <%= link_to image_tag("note-64x64.png"), api_v1_earnings_earnings_sector_path(:format => "html") %>
    HTML
  </div>
</div>

<h3>Source</h3>
<%= link_to 'gov.gg website', 'http://www.gov.gg/earnings' %>

