<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Charts", charts_path %></li>
    <li><%= link_to 'Housing', charts_housing_path %></li>
    <li class="active">Mean Average</li>
  </ol>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Housing</h1>
    </div>

    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><%= link_to 'Mean Average', charts_housing_mean_average_path %></li>
      <li role="presentation"><%= link_to 'Transactions', charts_housing_transactions_path %></li>
      <!-- <li role="presentation"><%= link_to 'Local Prices And Transactions', charts_housing_local_price_transactions_path %></li> -->
    </ul>
  </div>
</div>

<div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
<%= javascript_tag do %>

$(function() {
  initPage();
});
$(window).bind('page:change', function() {
  initPage();
});

function initPage() {
    var yLabels = <%= @labels.to_json.html_safe %>;

    $('#container').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: 'Mean Average'
        },
        xAxis: {
            allowDecimals: false,
            categories: yLabels,
            title: {
                text: 'Quarter'
            }
        },
        yAxis: {
            allowDecimals: false,
            title: {
                text: 'Mean Average'
            },
            labels: {
                formatter: function () {
                    return this.value / 1000 + 'k';
                }
            }
        },
        plotOptions: {
            area: {
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        series: [{
            name: 'Local',
            showInLegend: false,
            data: <%= @mean_averages.to_json.html_safe -%>
        }]
    });
}
<% end %>
