<%= render 'head' %>

<div id="container_units" style="min-width: 310px; height: 500px; margin: 0 auto"></div>

<p>Source: <a href="http://gov.gg/article/112353/Quarterly-Residential-Property-Prices-and-Annual-Housing-Stock-Bulletins-2014">gov.gg</a> and <a href="http://gov.gg/property">gov.gg</a></p>
<p><em>Updated 15/05/2015</em></p>

<%= javascript_tag do %>
$(function() {
  initPage();
});
$(window).bind('page:change', function() {
  initPage();
});

function initPage() {
    $('#container_units').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '<%= @title %>'
        },
        xAxis: {
            categories: <%= @labels.to_json.html_safe %>,
            crosshair: true,
            title: { text: 'Year' }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Count'
            }
        },
        tooltip: {
            shared: true,
        },
        series: [{
            name: 'Local',
            data: <%= @local.to_json.html_safe -%>
        },
        {
            name: 'Open',
            data: <%= @open.to_json.html_safe -%>
        }]
    });
}
<% end %>