<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover vertical-align-middle" width="100%">
        <thead>
          <tr>
            <th>API</th>
            <th>Output Formats</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a class="category-inline-link" href="<%= developers_buses_path %>">
                <span class="category-small category-image category-buses"></span>
                Buses
              </a>
              <td><span class="label label-primary">XML</span>
                <span class="label label-info">JSON</span>
                <span class="label label-warning">Embeddable HTML</span>
              </td>
              <td>Monthly usage of buses since 2011</td>
            </tr>
            <tr>
              <td valign="middle">
                <a class="category-inline-link" href="<%= developers_earnings_path %>">
                  <span class="category-small category-image category-finance"></span>
                  Earnings
                </a>
              </td>
              <td><span class="label label-primary">XML</span>
                <span class="label label-info">JSON</span>
                <span class="label label-warning">Embeddable HTML</span></td>
                <td>Earnings by age group, sector, and sex</td>
              </tr>
              <tr>
                <td>
                  <a class="category-inline-link" href="<%= developers_education_path %>">
                    <span class="category-small category-image category-education"></span>
                    Education
                  </a>
                </td>
                <td><span class="label label-primary">XML</span>
                  <span class="label label-info">JSON</span>
                  <span class="label label-warning">Embeddable HTML</span></td>
                  <td>Post-16 results, overall GCSE grades and GCSE grades by school</td>
                </tr>
                <tr>
                  <td>
                    <a class="category-inline-link" href="<%= developers_flights_path %>">
                      <span class="category-small category-image category-flights"></span>
                      Flights
                    </a>
                  </td>
                  <td>
                    <span class="label label-primary">XML</span>
                    <span class="label label-info">JSON</span>
                    <span class="label label-warning">Embeddable HTML</span>
                    <span class="label label-default">LIVE!</span>
                  </td>
                  <td>Flight details refreshed on the fly from the Guernsey Airport</td>
                </tr>
                <tr>
                  <td>
                    <a class="category-inline-link" href="<%= developers_housing_path %>">
                      <span class="category-small category-image category-housing"></span>
                      House Prices
                    </a>
                  </td>
                  <td>
                    <span class="label label-primary">XML</span>
                    <span class="label label-info">JSON</span>
                    <span class="label label-warning">Embeddable HTML</span>
                  </td>
                  <td>Detailed quarterly house prices since 1981 to today</td>
                </tr>
                <tr>
                  <td>
                    <a class="category-inline-link" href="<%= developers_crime_path %>">
                      <span class="category-small category-image category-police"></span>
                      Crime
                    </a>
                  </td>

                  <td>
                    <span class="label label-primary">XML</span>
                    <span class="label label-info">JSON</span>
                    <span class="label label-warning">Embeddable HTML</span>
                  </td>
                  <td>Detailed crime data from published reports</td>
                </tr>

                <tr>
                  <td>
                    <a class="category-inline-link" href="<%= developers_traffic_path %>">
                      <span class="category-small category-image category-police"></span>
                      Traffic
                    </a>
                  </td>
                  <td>
                    <span class="label label-primary">XML</span>
                    <span class="label label-info">JSON</span>
                    <span class="label label-warning">Embeddable HTML</span>
                  </td>
                  <td>Traffic data from published reports</td>
                </tr>

                <tr>
                  <td>
                    <a class="category-inline-link" href="<%= developers_population_path %>">
                      <span class="category-small category-image category-population"></span>
                      Population
                    </a>
                  </td>
                  <td><span class="label label-primary">XML</span>
                    <span class="label label-info">JSON</span>
                    <span class="label label-warning">Embeddable HTML</span>
                  </td>
                  <td>Guernsey population data from published reports</td>
                </tr>
                <tr>
                  <td>
                    <a class="category-inline-link" href="<%= developers_sailings_path %>">
                      <span class="category-small category-image category-sailings"></span>
                      Sailings
                    </a>
                  </td>
                  <td><span class="label label-primary">XML</span>
                    <span class="label label-info">JSON</span>
                    <span class="label label-warning">Embeddable HTML</span>
                    <span class="label label-default">LIVE!</span></td></td>
                    <td>Sailing details refreshed on the fly from the Guernsey Harbour</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>