<%= render partial: 'api/v10/head', locals: { name: 'Transport', path: developers_transport_path } %>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Year</th>
      <th>Motor Vehicles Private</th>
      <th>Motor Vehicles Commercial</th>
      <th>Motor Cycles</th>
    </tr>
  </thead>
  <tbody>
    <% @registered_vehicles.each do |f| %>
    <tr>
    <td><%= f['Year'] %></td>
    <td><%= f['Motor Vehicles Private'] %></td>
    <td><%= f['Motor Vehicles Commercial'] %></td>
    <td><%= f['Motor Cycles'] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>