<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Developers", developers_path %></li>
    <li class="active">Inflation</li>
  </ol>
<% end %>

<div class="page-header">
  <h1>Inflation</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover vertical-align-middle" width="100%">
    <thead>
      <tr>
        <th>API</th>
        <th>Version</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Inflation</td>
        <td>1.0</td>
        <td>RPI & RPIX changes since 1949</td>
        <td><%= link_to 'XML', api_v10_inflation_changes_path(:format => "xml")  %></td>
        <td><%= link_to 'JSON', api_v10_inflation_changes_path(:format => "json") %></td>
        <td><%= link_to 'RAW HTML', api_v10_inflation_changes_path(:format => "html", :layout => false) %></td>
        <td><%= link_to 'HTML', api_v10_inflation_changes_path(:format => "html") %></td>
      </tr>

      <tr>
        <td>RPI Group Changes</td>
        <td>1.0</td>
        <td>RPI group changes since Q4 2004</td>
        <td><%= link_to 'XML', api_v10_inflation_rpi_group_changes_path(:format => "xml")  %></td>
        <td><%= link_to 'JSON', api_v10_inflation_rpi_group_changes_path(:format => "json") %></td>
        <td><%= link_to 'RAW HTML', api_v10_inflation_rpi_group_changes_path(:format => "html", :layout => false) %></td>
        <td><%= link_to 'HTML', api_v10_inflation_rpi_group_changes_path(:format => "html") %></td>
      </tr>

      <tr>
        <td>RPIX Group Changes</td>
        <td>1.0</td>
        <td>RPIX group changes since Q4 2014</td>
        <td><%= link_to 'XML', api_v10_inflation_rpix_group_changes_path(:format => "xml")  %></td>
        <td><%= link_to 'JSON', api_v10_inflation_rpix_group_changes_path(:format => "json") %></td>
        <td><%= link_to 'RAW HTML', api_v10_inflation_rpix_group_changes_path(:format => "html", :layout => false) %></td>
        <td><%= link_to 'HTML', api_v10_inflation_rpix_group_changes_path(:format => "html") %></td>
      </tr>
    </tbody>
  </table>
</div>

<p>Source: <%= link_to 'gov.gg', 'http://www.gov.gg/rpi' %></p>