<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Developers", developers_path %></li>
    <li class="active">Inflation</li>
  </ol>
<% end %>

<div class="page-header">
  <h1>Inflation</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover vertical-align-middle" width="100%">
    <thead>
      <tr>
        <th>API</th>
        <th>Version</th>
        <th>Description</th>
        <th>Updated</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <%= render partial: 'developers/developers_list_item',
      locals: { name: 'Inflation', target: method(:api_v10_inflation_changes_path), desc: 'RPI & RPIX changes since 1949',
      updated: '12/11/2015' } %>

      <%= render partial: 'developers/developers_list_item',
      locals: { name: 'RPI Group Changes', target: method(:api_v10_inflation_rpi_group_changes_path), desc: 'RPI group changes since Q4 2004',
      updated: '12/11/2015' } %>

      <%= render partial: 'developers/developers_list_item',
      locals: { name: 'RPIX Group Changes', target: method(:api_v10_inflation_rpix_group_changes_path), desc: 'RPIX group changes since Q4 2014',
      updated: '12/11/2015' } %>
    </tbody>
  </table>
</div>

<p>Source: <%= link_to 'gov.gg', 'http://www.gov.gg/rpi' %></p>