<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Charts", charts_path %></li>
  <li><%= link_to 'Tides', charts_tides_path %></li>
  <li class="active"><%= @title %></li>
</ol>
<% end %>

<div class="page-header">
  <h1>Tides</h1>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" class="<%= 'active' if action?('charts/tides', 'tides') %>"><%= link_to 'Tides', charts_tides_tides_path %></li>
</ul>
