<%= render 'head' %>

<div id="container_tides_tides" style="min-width: 310px; height: 500px; margin: 0 auto"></div>

<p>Source: <a href="http://www.gov.gg/tides">gov.gg</a></p>
<p><em>Updated 2/2/2017</em></p>

<%= javascript_tag do %>
$(function() {
  initPage();
});
$(window).bind('page:change', function() {
  initPage();
});

function initPage() {
    var times = <%= @time_periods.to_json.html_safe %>;
    var labels = <%= @labels.to_json.html_safe %>;

    $('#container_tides_tides').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: '<%= @title %>'
        },
        xAxis: {
            categories: labels,
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: 'Height (m)'
            }
        },
        tooltip: {
          formatter: function() {
              return 'Series: ' + this.series.name +
              '<br> Time: '  + times[this.series.index][this.series.data.indexOf(this.point)] +
              '<br> Height: ' + this.point.y +
              '<br> Date: ' + labels[this.point.x];
              //'The value for <b>' + this.x + '</b> is <b>' + this.y + '</b>, in series '+ this.series.name;
            }
        },
        series: [{
            name: 'Time 1',
            data: <%= @heights[0].to_json.html_safe -%>
        },
        {
            name: 'Time 2',
            data: <%= @heights[1].to_json.html_safe -%>
        },
        {
            name: 'Time 3',
            data: <%= @heights[2].to_json.html_safe -%>
        },
        {
            name: 'Time 4',
            data: <%= @heights[3].to_json.html_safe -%>
        }]
    });
}
<% end %>
