<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Charts", charts_path %></li>
  <li><%= link_to 'Government Spending', charts_government_spending_path %></li>
  <li class="active"><%= @title %></li>
</ol>
<% end %>

<div class="page-header">
  <h1>Government Spending</h1>
</div>

<ul class="nav nav-tabs data-gg-tab-padding">
  <li role="presentation" class="<%= 'active' if action?('charts/government_spending', 'percent_treemap') %>"><%= link_to 'Treemap', charts_government_spending_percent_treemap_path %></li>
    <li role="presentation" class="<%= 'active' if action?('charts/government_spending', 'bubble_tree') %>"><%= link_to 'Bubbletree', charts_government_spending_bubble_tree_path %></li>
  <li role="presentation" class="<%= 'active' if action?('charts/government_spending', 'slider') %>"><%= link_to 'Slider', charts_government_spending_slider_path %></li>
</ul>