<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Developers", developers_path %></li>
    <li class="active">Tourism</li>
  </ol>
<% end %>

<div class="page-header">
  <h1>Tourism</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover vertical-align-middle" width="100%">
    <thead>
      <tr>
        <th>API</th>
        <th>Version</th>
        <th>Description</th>
        <th>Updated</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'developers/developers_list_item',
      locals: { name: 'Cruises', target: method(:api_v10_tourism_cruises_path), desc: 'Incoming cruise passengers', updated: '15/10/2015' } %>
      <%= render partial: 'developers/developers_list_item',
      locals: { name: 'Sea', target: method(:api_v10_tourism_sea_by_month_path), desc: 'Incoming sea passengers by month', updated: '16/10/2015' } %>
      <%= render partial: 'developers/developers_list_item',
      locals: { name: 'Air', target: method(:api_v10_tourism_air_by_month_path), desc: 'Incoming air passengers by month', updated: '16/10/2015' } %>
    </tbody>
  </table>
</div>

<p>Source: <%= link_to 'gov.gg', 'http://www.gov.gg/pru' %></p>