<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Developers", developers_path %></li>
    <li class="active">Sailings</li>
  </ol>
<% end %>

<div class="page-header">
  <h1>Sailings</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover vertical-align-middle" width="100%">
    <thead>
      <tr>
        <th>API</th>
        <th>Version</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <%= render partial: 'developers/developers_list_item',
      locals: { name: 'Harbour', target: method(:api_v10_sailings_harbour_path), desc: 'Live sailings data from the Guernsey Harbour. Includes both arrivals and departures' } %>
      <%= render partial: 'developers/developers_list_item',
      locals: { name: 'Condor Punctuality', target: method(:api_v10_sailings_condor_punctuality_path), desc: 'Condor punctuality from published reports' } %>
    </tbody>
  </table>
</div>

<p>Source: <%= link_to 'guernseyharbours.gov.gg', 'http://www.guernseyharbours.gov.gg/article/100192/Arrivals--Departures' %> and <%= link_to 'http://www.condorferries.co.uk', 'http://www.condorferries.co.uk/performance/punctuality-reports.aspx'%></p>