<h2>Flight Data</h2>
<h3>Arrivals</h3>
<div class="row">
  <div class="col-md-4 padded-cell">
  <%= link_to image_tag("note-64x64.png"), arrivals_api_v1_flights_path(:format => "xml") %>
    XML
  </div>

  <div class="col-md-4 padded-cell">
  <%= link_to image_tag("note-64x64.png"), arrivals_api_v1_flights_path(:format => "json") %>
    JSON
  </div>
  <div class="col-md-4 padded-cell">
  <%= link_to image_tag("note-64x64.png"), arrivals_api_v1_flights_path(:format => "html") %>
    HTML
  </div>
</div>

<h3>Departures</h3>
<div class="row">
  <div class="col-md-4 padded-cell">
  <%= link_to image_tag("note-64x64.png"), departures_api_v1_flights_path(:format => "xml") %>
    XML
  </div>

  <div class="col-md-4 padded-cell">
  <%= link_to image_tag("note-64x64.png"), departures_api_v1_flights_path(:format => "json") %>
    JSON
  </div>
  <div class="col-md-4 padded-cell">
  <%= link_to image_tag("note-64x64.png"), departures_api_v1_flights_path(:format => "html") %>
    HTML
  </div>
</div>