<%  content_for  :breadcrumb  do  %>
<ol  class="breadcrumb">
    <li><%=  link_to  "Home",  root_path  %></li>
    <li><%=  link_to  "Charts",  charts_path  %></li>
    <li><%=  link_to  'Inflation',  charts_inflation_path  %></li>
    <li  class="active"><%=  @title  %></li>
</ol>
<%  end  %>

<div  class="page-header">
    <h1>Inflation</h1>
</div>

<ul  class="nav  nav-tabs">
<li  role="presentation"  class="<%=  'active'  if  action?('charts/inflation',  'changes')  %>"><%=  link_to  'Changes',  charts_inflation_changes_path  %></li>
    <li  role="presentation"  class="<%=  'active'  if  action?('charts/inflation',  'rpi_group_changes')  %>"><%=  link_to  'RPI  Group  Changes',  charts_inflation_rpi_group_changes_path  %></li>
</ul>