<%= render 'head' %>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Date Taken</th>
      <th>Less than 1</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
      <th>14</th>
      <th>15</th>
      <th>16</th>
      <th>17</th>
      <th>18</th>
      <th>19</th>
      <th>20</th>
      <th>21</th>
      <th>22</th>
      <th>23</th>
      <th>24</th>
      <th>25</th>
      <th>26</th>
      <th>27</th>
      <th>28</th>
      <th>29</th>
      <th>30</th>
      <th>31</th>
      <th>32</th>
      <th>33</th>
      <th>34</th>
      <th>35</th>
      <th>36</th>
      <th>37</th>
      <th>38</th>
      <th>39</th>
      <th>40</th>
      <th>41</th>
      <th>42</th>
      <th>43</th>
      <th>44</th>
      <th>45</th>
      <th>46</th>
      <th>47</th>
      <th>48</th>
      <th>49</th>
      <th>50</th>
      <th>51</th>
      <th>52</th>
      <th>53</th>
      <th>54</th>
      <th>55</th>
      <th>56</th>
      <th>57</th>
      <th>58</th>
      <th>59</th>
      <th>60</th>
      <th>61</th>
      <th>62</th>
      <th>63</th>
      <th>64</th>
      <th>65</th>
      <th>66</th>
      <th>67</th>
      <th>68</th>
      <th>69</th>
      <th>70</th>
      <th>71</th>
      <th>72</th>
      <th>73</th>
      <th>74</th>
      <th>75</th>
      <th>76</th>
      <th>77</th>
      <th>78</th>
      <th>79</th>
      <th>80</th>
      <th>81</th>
      <th>82</th>
      <th>83</th>
      <th>84</th>
      <th>85</th>
      <th>86</th>
      <th>87</th>
      <th>88</th>
      <th>89</th>
      <th>90</th>
      <th>91</th>
      <th>92</th>
      <th>93</th>
      <th>94</th>
      <th>95 and over</th>
    </tr>
  </thead>
  <tbody>
    <% @age.each do |p| %>
      <tr>
        <td><%= p['Date Taken'] %></td>
        <td><%= p['Less than 1'] %></td>
        <td><%= p['1'] %></td>
        <td><%= p['2'] %></td>
        <td><%= p['3'] %></td>
        <td><%= p['4'] %></td>
        <td><%= p['5'] %></td>
        <td><%= p['6'] %></td>
        <td><%= p['7'] %></td>
        <td><%= p['8'] %></td>
        <td><%= p['9'] %></td>
        <td><%= p['10'] %></td>
        <td><%= p['11'] %></td>
        <td><%= p['12'] %></td>
        <td><%= p['13'] %></td>
        <td><%= p['14'] %></td>
        <td><%= p['15'] %></td>
        <td><%= p['16'] %></td>
        <td><%= p['17'] %></td>
        <td><%= p['18'] %></td>
        <td><%= p['19'] %></td>
        <td><%= p['20'] %></td>
        <td><%= p['21'] %></td>
        <td><%= p['22'] %></td>
        <td><%= p['23'] %></td>
        <td><%= p['24'] %></td>
        <td><%= p['25'] %></td>
        <td><%= p['26'] %></td>
        <td><%= p['27'] %></td>
        <td><%= p['28'] %></td>
        <td><%= p['29'] %></td>
        <td><%= p['30'] %></td>
        <td><%= p['31'] %></td>
        <td><%= p['32'] %></td>
        <td><%= p['33'] %></td>
        <td><%= p['34'] %></td>
        <td><%= p['35'] %></td>
        <td><%= p['36'] %></td>
        <td><%= p['37'] %></td>
        <td><%= p['38'] %></td>
        <td><%= p['39'] %></td>
        <td><%= p['40'] %></td>
        <td><%= p['41'] %></td>
        <td><%= p['42'] %></td>
        <td><%= p['43'] %></td>
        <td><%= p['44'] %></td>
        <td><%= p['45'] %></td>
        <td><%= p['46'] %></td>
        <td><%= p['47'] %></td>
        <td><%= p['48'] %></td>
        <td><%= p['49'] %></td>
        <td><%= p['50'] %></td>
        <td><%= p['51'] %></td>
        <td><%= p['52'] %></td>
        <td><%= p['53'] %></td>
        <td><%= p['54'] %></td>
        <td><%= p['55'] %></td>
        <td><%= p['56'] %></td>
        <td><%= p['57'] %></td>
        <td><%= p['58'] %></td>
        <td><%= p['59'] %></td>
        <td><%= p['60'] %></td>
        <td><%= p['61'] %></td>
        <td><%= p['62'] %></td>
        <td><%= p['63'] %></td>
        <td><%= p['64'] %></td>
        <td><%= p['65'] %></td>
        <td><%= p['66'] %></td>
        <td><%= p['67'] %></td>
        <td><%= p['68'] %></td>
        <td><%= p['69'] %></td>
        <td><%= p['70'] %></td>
        <td><%= p['71'] %></td>
        <td><%= p['72'] %></td>
        <td><%= p['73'] %></td>
        <td><%= p['74'] %></td>
        <td><%= p['75'] %></td>
        <td><%= p['76'] %></td>
        <td><%= p['77'] %></td>
        <td><%= p['78'] %></td>
        <td><%= p['79'] %></td>
        <td><%= p['80'] %></td>
        <td><%= p['81'] %></td>
        <td><%= p['82'] %></td>
        <td><%= p['83'] %></td>
        <td><%= p['84'] %></td>
        <td><%= p['85'] %></td>
        <td><%= p['86'] %></td>
        <td><%= p['87'] %></td>
        <td><%= p['88'] %></td>
        <td><%= p['89'] %></td>
        <td><%= p['90'] %></td>
        <td><%= p['91'] %></td>
        <td><%= p['92'] %></td>
        <td><%= p['93'] %></td>
        <td><%= p['94'] %></td>
        <td><%= p['95 and over'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>