<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Developers", developers_path %></li>
    <li><%= link_to "Population", developers_population_path %></li>
    <li class="active">Birthplace</a>
  </ol>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Year</th>
      <th>Guernsey</th>
      <th>Jersey</th>
      <th>Alderney</th>
      <th>Sark</th>
      <th>IsleOfMan</th>
      <th>England</th>
      <th>UnitedKingdomCountryNotSpecified</th>
      <th>Portugal</th>
      <th>Latvia</th>
      <th>Scotland</th>
      <th>Ireland</th>
      <th>NorthernIreland</th>
      <th>Poland</th>
      <th>Wales</th>
      <th>Germany</th>
      <th>France</th>
      <th>Italy</th>
      <th>Romania</th>
      <th>Netherlands</th>
      <th>Hungary</th>
      <th>Spain</th>
      <th>Austria</th>
      <th>Slovakia</th>
      <th>Bulgaria</th>
      <th>CzechRepublic</th>
      <th>Malta</th>
      <th>Belgium</th>
      <th>Greece</th>
      <th>Sweden</th>
      <th>Denmark</th>
      <th>Lithuania</th>
      <th>Finland</th>
      <th>Cyprus</th>
      <th>Yugoslavia</th>
      <th>OtherEurope</th>
      <th>SouthAfrica</th>
      <th>Egypt</th>
      <th>Kenya</th>
      <th>Nigeria</th>
      <th>Uganda</th>
      <th>Morocco</th>
      <th>OtherAfrica</th>
      <th>Thailand</th>
      <th>India</th>
      <th>Philippines</th>
      <th>China</th>
      <th>OtherAsia</th>
      <th>Australia</th>
      <th>NewZealand</th>
      <th>OtherAustralasia</th>
      <th>UnitedStates</th>
      <th>Canada</th>
      <th>Bahamas</th>
      <th>OtherNorthAmerica</th>
      <th>SouthAmerica</th>
      <th>Countryofbirthunknown</th>
    </tr>
  </thead>
  <tbody>
    <% @birthplace.each do |p| %>
      <tr>
        <td><%= p['Year'] %></td>
        <td><%= p['Guernsey'] %></td>
        <td><%= p['Jersey'] %></td>
        <td><%= p['Alderney'] %></td>
        <td><%= p['Sark'] %></td>
        <td><%= p['IsleOfMan'] %></td>
        <td><%= p['England'] %></td>
        <td><%= p['UnitedKingdomCountryNotSpecified'] %></td>
        <td><%= p['Portugal'] %></td>
        <td><%= p['Latvia'] %></td>
        <td><%= p['Scotland'] %></td>
        <td><%= p['Ireland'] %></td>
        <td><%= p['NorthernIreland'] %></td>
        <td><%= p['Poland'] %></td>
        <td><%= p['Wales'] %></td>
        <td><%= p['Germany'] %></td>
        <td><%= p['France'] %></td>
        <td><%= p['Italy'] %></td>
        <td><%= p['Romania'] %></td>
        <td><%= p['Netherlands'] %></td>
        <td><%= p['Hungary'] %></td>
        <td><%= p['Spain'] %></td>
        <td><%= p['Austria'] %></td>
        <td><%= p['Slovakia'] %></td>
        <td><%= p['Bulgaria'] %></td>
        <td><%= p['CzechRepublic'] %></td>
        <td><%= p['Malta'] %></td>
        <td><%= p['Belgium'] %></td>
        <td><%= p['Greece'] %></td>
        <td><%= p['Sweden'] %></td>
        <td><%= p['Denmark'] %></td>
        <td><%= p['Lithuania'] %></td>
        <td><%= p['Finland'] %></td>
        <td><%= p['Cyprus'] %></td>
        <td><%= p['Yugoslavia'] %></td>
        <td><%= p['OtherEurope'] %></td>
        <td><%= p['SouthAfrica'] %></td>
        <td><%= p['Egypt'] %></td>
        <td><%= p['Kenya'] %></td>
        <td><%= p['Nigeria'] %></td>
        <td><%= p['Uganda'] %></td>
        <td><%= p['Morocco'] %></td>
        <td><%= p['OtherAfrica'] %></td>
        <td><%= p['Thailand'] %></td>
        <td><%= p['India'] %></td>
        <td><%= p['Philippines'] %></td>
        <td><%= p['China'] %></td>
        <td><%= p['OtherAsia'] %></td>
        <td><%= p['Australia'] %></td>
        <td><%= p['NewZealand'] %></td>
        <td><%= p['OtherAustralasia'] %></td>
        <td><%= p['UnitedStates'] %></td>
        <td><%= p['Canada'] %></td>
        <td><%= p['Bahamas'] %></td>
        <td><%= p['OtherNorthAmerica'] %></td>
        <td><%= p['SouthAmerica'] %></td>
        <td><%= p['Countryofbirthunknown'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

