<%  content_for  :breadcrumb  do  %>
    <ol  class="breadcrumb">
        <li><%=  link_to  "Home",  root_path  %></li>
        <li><%=  link_to  "Police",  api_v1_police_path  %></li>
        <li  class="active">Traffic  Classifications</a>
    </ol>
<%  end  %>

<table  class="table">
    <thead>
        <tr>
            <th>Year</th>
            <th>Fatal</th>
            <th>Serious</th>
            <th>Slight</th>
        </tr>
    </thead>
    <tbody>
        <%  @traffic.each  do  |f|  %>
        <tr>
        <td><%=  f['Year']  %></td>
        <td><%=  f['Fatal']  %></td>
        <td><%=  f['Serious']  %></td>
        <td><%=  f['Slight']  %></td>
        </tr>
        <%  end  %>
    </tbody>
</table>