<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Buses", buses_path %></li>
    <li><%= link_to @timetable.name + ' Timetable', buses_timetable_path(:start_date => @timetable.start_date) %></li>
    <li class="active">Stops</li>
  </ol>
<% end %>

<h2 class="page-header">Stops</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="2">
    </tr>
  </thead>
  <tbody>
    <% @stops.each do |stop| %>
    <tr>
      <td><%= stop.name %></td>
      <td><%= stop.latitude %></td>
      <td><%= stop.longitude %></td>
      <td>Edit</td>
      <td><%= link_to 'Destroy', buses_stop_path(stop.id),
            :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    <% end %>
    <%= form_for [:buses, @stop] do |f| %>
    <tr>
      <td><%= f.text_field :name, { :class => "form-control" } %></td>
      <td><%= f.text_field :latitude, { :class => "form-control" } %></td>
      <td><%= f.text_field :longitude, { :class => "form-control" } %></td>
      <td colspan="2"><%= f.submit "Submit", { :class => "btn btn-default"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>