
<h2>Stops</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    <% @stops.each do |stop| %>
    <tr>
      <td><%= stop.name %></td>
      <td><%= stop.latitude %></td>
      <td><%= stop.longitude %></td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
    <% end %>
    <%= form_for [:buses, @stop] do |f| %>
    <tr>
      <td><%= f.text_field :name %></td>
      <td><%= f.text_field :latitude %></td>
      <td><%= f.text_field :longitude %></td>
      <td><%= f.submit "Submit" %>
    </tr>
    <% end %>
  </tbody>
</table>