<%= render 'head' %>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Flight Number</th>
      <th>Time</th>
      <th>Source</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @flights.each do |f| %>
    <tr>
    <td><%= f['FlightNumber'] %></td>
    <td><%= f['Time'] %></td>
    <td><%= f['Source'] %></td>
    <td><%= f['Status'] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>