<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Developers", developers_path %></li>
    <li><%= link_to "Flights", developers_flights_path %></li>
    <li class="active">Departures</a>
  </ol>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Flight Number</th>
      <th>Time</th>
      <th>Dest</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @flights.each do |f| %>
    <tr>
    <td><%= f['FlightNumber'] %></td>
    <td><%= f['Time'] %></td>
    <td><%= f['Dest'] %></td>
    <td><%= f['Status'] %></td>
    </tr>
    <% end %>
  </tbody>
</table>