<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Developers", developers_path %></li>
    <li><%= link_to "Education", developers_education_path %></li>
    <li class="active">GCSE School</a>
  </ol>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Year</th>
      <th>School</th>
      <th>Result</th>
      <th>Percent</th>
    </tr>
  </thead>
  <tbody>
    <% @gcse_school.each do |f| %>
    <tr>
    <td><%= f['Year'] %></td>
    <td><%= f['School'] %></td>
    <td><%= f['Result'] %></td>
    <td><%= f['Percent'] %></td>
    </tr>
    <% end %>
  </tbody>
</table>