<%= render 'head' %>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Year</th>
      <th>Type</th>
      <th>Grade</th>
      <th>Percent</th>
    </tr>
  </thead>
  <tbody>
    <% @post16results.each do |f| %>
    <tr>
    <td><%= f['Year'] %></td>
    <td><%= f['Type'] %></td>
    <td><%= f['Grade'] %></td>
    <td><%= f['Percent'] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>