<% if @data_category.data_sets.count > 0 %>
  <% content_for :breadcrumb do %>
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Developers", developers_path %></li>
      <li class="active"><%= @data_category.name %></li>
    </ol>
  <% end %>
  <div class="page-header">
    <h1><%= @data_category.name %></h1>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover vertical-align-middle" width="100%">
      <thead>
        <tr>
          <th>API</th>
          <th>Version</th>
          <th>Description</th>
          <th>Updated</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @data_sets.each do |data_set| %>
          <tr>
            <td><%= data_set.name %></td>
            <td>1.0</td>
            <td><%= data_set.desc %></td>
            <td><% if data_set.live? %>
                <span class="label label-default">LIVE!</span>
              <% else %>
                <%= data_set.get_data_updated_formatted %>
              <% end %></td>
            <td>
              <%= link_to 'XML',
            api_path(data_category: @data_category.stub, data_set: data_set.stub, :format => "xml"), class: 'label label-primary label-format'  %>
              <%= link_to 'JSON',
            api_path(data_category: @data_category.stub, data_set: data_set.stub, :format => "json"), class: 'label label-info label-format' %>
              <%= link_to 'Embeddable HTML',
            api_path(data_category: @data_category.stub, data_set: data_set.stub, :format => "html", layout: false), class: 'label label-warning label-format' %>
              <%= link_to 'HTML',
            api_path(data_category: @data_category.stub, data_set: data_set.stub, :format => "html"), class: 'label label-warning label-format' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% @data_category.data_sets.map(&:source_url).uniq.each do |source| %>
    <p>Source: <%= link_to source, source %></p>
  <% end %>
<% else %>
  <h1>Coming Soon</h1>
<% end %>