<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2><strong>One Source, All The Data.</strong></h2>
        <h3>Get the latest Bailiwick of Guernsey data for your apps and websites, any place, any time.</h3>
      </div>
      <div class="col-md-6">
        <div style="height:220px; z-index:99; margin-top:0px; background:transparent url(<%= image_url "flightsapp_big.png" %>) no-repeat top center; background-size:40%">
          <div style="position:relative; z-index:0; left:150px; height:100%;background:transparent url(<%= image_url "flightsapp_android.png" %>) no-repeat top center; background-size:40%"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="front-page-feature-triangles">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="faint-heading">Guernsey Data, Visualised</h2>
      </div>
    </div>
    
     <h4 style="text-align:center;">Annual Bus Usage by Month</h4>
    <div style="margin-bottom:300px; display:block">
      <%= render partial: "charts/buses/split" %>
    </div>
    <table style="margin-top:310px;margin-bottom:50px;font-size:0.9em">
      <tr>
        <% @labels.each do |label| %>
        <td><div style="margin:0 3px 0 10px; width:15px;height:15px;background-color:<%= label[1] %>;border:2px solid <%= label[2] %>"></td>
          <td><%= label[0] %></td>
        <% end %>
      </tr>
    </table>
   

    <%= render partial: "charts/categories" %>
  </div>
</div>


<div style="background-color:#FF9900;color:#FFF">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="faint-heading" style="color:#FFF">Data.gg Apps</h2>
      </div>
    </div>
    <div class="row">  
      <div class="col-md-3">
        <div style="min-height:350px; background:transparent url(<%= image_url "flightsapp_big.png" %>) no-repeat top center; background-size:100%">
        </div>
      </div>
      <div class="col-md-3">
        <h3>Gsy Flights</h3>
      </div>
      
      <div class="col-md-3">
        Sailings app details
      </div>
      <div class="col-md-3">
        pics
      </div>
    </div>
  </div>
</div>

<div class="front-page-feature-triangles">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="faint-heading">Supply <em>&amp;</em> Contribute</h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <h3 class="text-center extra-bottom-space">Have some data you want to publish?</h3>
        <p class="large-text extra-bottom-space">If you've got interesting data related to the Bailiwick of Guernsey we'd love to get our hands on it. We're happy to
          do all the hard work for you so it can be made available via the data.gg API allowing people to generate reports or so developers can build apps.
          Send us an e-mail at <a href="mailto:hey@data.gg">hey@data.gg</a> and we'll talk more.</p>
      </div>
    
      <div class="col-md-6">
        <h3 class="text-center extra-bottom-space">Want to help us build a better data.gg?</h3>
        <p class="large-text">There's a lot of work involved with data.gg, from coming up with ideas, gathering data, standardising and producing data sets,
            showing that data in a meaningful format and all the way to publishing the APIs for developers. Just fire us an e-mail at 
            <a href="mailto:hey@data.gg">hey@data.gg</a> so we can talk more.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="faint-heading">Developers</h2>
    </div>
  </div>
  

  <%= render partial: "developers/api_list" %>
</div>