<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Buses", api_v1_buses_path %></li>
    <li><%= link_to @stop_time.route.timetable.name + ' Timetable', api_v1_buses_timetable_path(:start_date => @stop_time.route.timetable.start_date) %></li>
    <li><%= link_to 'Route ' + @stop_time.route.name, api_v1_buses_timetable_route_path(:timetable_start_date => @stop_time.route.timetable.start_date, :id => @stop_time.route.id)%></li>
    <li class="active"><%= link_to @stop_time.time_string + ': ' + @stop_time.route_stop.stop.name  %></li>
  </ol>
<% end %>

<h1 class="page-header">Stop Link</h1>

<%= form_for @stop_time, as: :stop_link_exception, url: api_v1_buses_timetable_route_stop_time_add_exception_path  do |f| %>
  <% if @stop_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stop_time.errors.count, "error") %> prohibited this stop_link_exception from being saved:</h2>

      <ul>
      <% @stop_time.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Exception</th>
      </tr>
    </thead>
    <tbody>
      <% @stop_time.stop_time_exceptions.each do |exception| %>
        <tr>
          <td></td>
          <td><%= exception.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<p>Add an exception</p>
  <%= f.collection_select :id, @exceptions, :id, :name %>

  <div class="actions">
    <%= link_to 'Cancel', api_v1_buses_exceptions_path %>
    
    <%= f.submit "Submit", { :class => "btn btn-primary" } %>
  </div>
<% end %>
