<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Buses", api_v1_buses_path %></li>
    <li><%= link_to @stop_time.route.timetable.name + ' Timetable', api_v1_buses_timetable_path(:start_date => @stop_time.route.timetable.start_date) %></li>
    <li><%= link_to 'Route ' + @stop_time.route.name, api_v1_buses_timetable_route_path(:timetable_start_date => @stop_time.route.timetable.start_date, :id => @stop_time.route.id)%></li>
    <li class="active"><%= link_to @stop_time.time_string + ': ' + @stop_time.route_stop.stop.name  %></li>
  </ol>
<% end %>

<h1 class="page-header">Stop Time</h1>

<p>To edit the time, please edit the entire set from the main timetable screen at the bottom instead</p>
<h3><%= @stop_time.time_string %></h3>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Exception</th>
    </tr>
  </thead>
  <tbody>
    <% @stop_time.stop_time_exceptions.each do |exception| %>
      <tr>
        <td></td>
        <td><%= exception.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= form_for @stop_time_exception, url: api_v1_buses_timetable_route_stop_time_add_exception_path  do |f| %>
  <% if @stop_time_exception.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stop_time_exception.errors.count, "error") %> prohibited this stop_link_exception from being saved:</h2>

      <ul>
      <% @stop_time_exception.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p>Add an exception</p>
  <%= f.hidden_field :stop_time_id, value: @stop_time.id%>
  <%= f.collection_select :id, @exceptions, :id, :name %>

  <div class="actions">
    <%= link_to 'Cancel', api_v1_buses_exceptions_path %>
    
    <%= f.submit "Submit", { :class => "btn btn-primary" } %>
  </div>
<% end %>
