<div class="row">
  <%= render partial: 'charts/categories_list_item',
  locals: { name: 'House Prices', target: charts_housing_path, image: 'i-750-home-2x', desc: 'Costs of housing since the 1970s for each quarter' } %>
  <%= render partial: 'charts/categories_list_item',
  locals: { name: 'Population', target: charts_population_path, image: 'i-895-user-group-2x', desc: 'Population statistics by age ranges for the last 8 years' } %>
  <%= render partial: 'charts/categories_list_item',
  locals: { name: 'Earnings', target: charts_earnings_path, image: 'i-826-money-1-2x', desc: 'Earnings by age group and sex for the last 9 years' } %>
</div>

<div class="row">
  <%= render partial: 'charts/categories_list_item',
  locals: { name: 'Education', target: charts_education_path, image: 'i-897-graduation-cap-2x', desc: 'Post-16 and GCSE results by school since 2009/10' } %>
  <%= render partial: 'charts/categories_list_item',
  locals: { name: 'Buses', target: charts_buses_path, image: 'i-814-bus-2x', desc: 'Per-month bus usage statistics over the last 4 years' } %>
  <%= render partial: 'charts/categories_list_item',
  locals: { name: 'Crime', target: charts_crime_path, image: 'i-828-shield-2x', desc: 'Various categories of crime for the last few years' } %>
</div>

<div class="row">
  <%= render partial: 'charts/categories_list_item',
  locals: { name: 'Traffic', target: charts_traffic_path, image: 'i-815-car-2x', desc: 'Traffic incident details from the Guernsey Police reports' } %>
  <%= render partial: 'charts/categories_list_item',
  locals: { name: 'Inflation', target: charts_inflation_path, image: 'i-754-scale-2x', desc: 'RPI & RPIX inflation data from 1949' } %>
  <%= render partial: 'charts/categories_list_item',
  locals: { name: 'Water', target: charts_water_path, image: 'i-934-measuring-cup-2x', desc: 'Water data from published reports' } %>
</div>

<div class="row">
  <%= render partial: 'charts/categories_list_item',
  locals: { name: 'Employment', target: charts_employment_path, image: 'i-780-building-2x', desc: 'Employment data from published reports' } %>
  <%= render partial: 'charts/categories_list_item',
  locals: { name: 'Emissions', target: charts_emissions_path, image: 'i-1022-factory-2x', desc: 'Emissions from published reports' } %>
  <%= render partial: 'charts/categories_list_item',
  locals: { name: 'Sailings', target: charts_sailings_path, image: 'i-1094-sail-boat-2-2x', desc: 'Harbour data from published reports' } %>
</div>

<div class="row">
  <%= render partial: 'charts/categories_list_item',
  locals: { name: 'Weather', target: charts_weather_path, image: 'i-862-sun-cloud-2x', desc: 'Weather data from published reports' } %>
  <%= render partial: 'charts/categories_list_item',
  locals: { name: 'Broadband', target: '#', image: 'i-937-wifi-signal-2x', desc: 'Coming Soon' } %>
  <%= render partial: 'charts/categories_list_item',
  locals: { name: 'Recycling', target: '#', image: 'i-776-recycle-2x', desc: 'Coming Soon' } %>
</div>

<div class="row">
  <%= render partial: 'charts/categories_list_item',
  locals: { name: 'Roadworks', target: '#', image: 'i-1032-route-2x', desc: 'Coming Soon' } %>
  <%= render partial: 'charts/categories_list_item',
  locals: { name: 'Financial', target: '#', image: 'i-827-money-2-2x', desc: 'Coming Soon' } %>
  <%= render partial: 'charts/categories_list_item',
  locals: { name: 'Health', target: '#', image: 'i-892-bandaid-2x', desc: 'Coming Soon' } %>
</div>

<div class="row">
  <%= render partial: 'charts/categories_list_item',
  locals: { name: 'Fuel', target: '#', image: 'i-931-gas-pump-2x', desc: 'Coming Soon' } %>
  <%= render partial: 'charts/categories_list_item',
  locals: { name: 'Sports', target: '#', image: 'i-1090-ping-pong-paddle-2x', desc: 'Coming Soon' } %>
  <div class="col-sm-4 col-md-4"></div>
</div>