<div class="row">
  <div class="col-sm-6 col-md-3">
    <a href="<%= charts_housing_path %>" class="category">
      <div class="category-image category-housing"></div>
      <div class="category-detail">
        <h3><strong>House Prices</strong></h3>
        <p>Costs of housing since the 1970s</p>
      </div>
    </a>
  </div>

  <div class="col-sm-6 col-md-3">
    <a href="<%= charts_population_path %>" class="category">
      <div class="category-image category-population"></div>
      <div class="category-detail">
        <h3><strong>Population</strong></h3>
        <p>Population by age ranges for the last 8 years</p>
      </div>
    </a>
  </div>

  <div class="col-sm-6 col-md-3">
    <a href="<%= charts_earnings_path %>" class="category">
      <div class="category-image category-finance"></div>
      <div class="category-detail">
        <h3><strong>Earnings</strong></h3>
        <p>Earnings by age group and sex for the last 9 years</p>
      </div>
    </a>
  </div>

  <div class="col-sm-6 col-md-3">
    <a href="<%= charts_education_path %>" class="category">
      <div class="category-image category-education"></div>
      <div class="category-detail">
        <h3><strong>Education</strong></h3>
        <p>Post-16 and GCSE results by school since 2009/10</p>
      </div>
    </a>
  </div>
</div>


<div class="row">
  <div class="col-sm-6 col-md-3 col-md-offset-3">
    <a href="<%= charts_buses_path %>" class="category">
      <div class="category-image category-buses"></div>
      <div class="category-detail">
        <h3><strong>Buses</strong></h3>
        <p>Bus usage statistics over the last 4 years</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3">
    <a href="<%= charts_police_path %>" class="category">
      <div class="category-image category-police"></div>
      <div class="category-detail">
        <h3><strong>Police</strong></h3>
        <p>Various categories of crime for the last few years</p>
      </div>
    </a>
  </div>
</div>