<div class="row">
  <div class="col-sm-4 col-md-4">
    <a href="<%= charts_housing_path %>" class="category">
      <div class="category-image category-housing"></div>
      <div class="category-detail">
        <h3><strong>House Prices</strong></h3>
        <p>Costs of housing since the 1970s for each quarter</p>
      </div>
    </a>
  </div>

  <div class="col-sm-4 col-md-4">
    <a href="<%= charts_population_path %>" class="category">
      <div class="category-image category-population"></div>
      <div class="category-detail">
        <h3><strong>Population</strong></h3>
        <p>Population statistics by age ranges for the last 8 years</p>
      </div>
    </a>
  </div>

  <div class="col-sm-4 col-md-4">
    <a href="<%= charts_earnings_path %>" class="category">
      <div class="category-image category-finance"></div>
      <div class="category-detail">
        <h3><strong>Earnings</strong></h3>
        <p>Earnings by age group and sex for the last 9 years</p>
      </div>
    </a>
  </div>
</div>


<div class="row">
  <div class="col-sm-4 col-md-4">
    <a href="<%= charts_education_post16results_path %>" class="category">
      <div class="category-image category-education"></div>
      <div class="category-detail">
        <h3><strong>Education</strong></h3>
        <p>Post-16 and GCSE results by school since 2009/10</p>
      </div>
    </a>
  </div>

  <div class="col-sm-4 col-md-4">
    <a href="<%= charts_buses_path %>" class="category">
      <div class="category-image category-buses"></div>
      <div class="category-detail">
        <h3><strong>Buses</strong></h3>
        <p>Per-month bus usage statistics over the last 4 years</p>
      </div>
    </a>
  </div>
  <div class="col-sm-4 col-md-4">
    <a href="<%= charts_crime_path %>" class="category">
      <div class="category-image category-police"></div>
      <div class="category-detail">
        <h3><strong>Crime</strong></h3>
        <p>Various categories of crime for the last few years</p>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-md-4">
    <a href="<%= charts_traffic_path %>" class="category">
      <div class="category-image category-traffic"></div>
      <div class="category-detail">
        <h3><strong>Traffic</strong></h3>
        <p>Traffic incident details from the Guernsey Police reports</p>
      </div>
    </a>
  </div>

  <div class="col-sm-4 col-md-4">
  </div>
  <div class="col-sm-4 col-md-4">
  </div>
</div>