<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Buses", buses_path %></li>
    <li><%= link_to @timetable.name + ' Timetable', buses_timetable_path(:start_date => @timetable.start_date) %></li>
    <li><%= link_to 'Route ' + @route.name, buses_timetable_route_path(:timetable_start_date => @timetable.start_date, :id => @route.id) %></li>
    <li class="active">Edit</a>
  </ol>
<% end %>

<h2 class="page-header">Edit route '<%= @route.name %>'</h2>

<%= form_for @route, url: { action: "update" }, html: { class: "form-horizontal" } do |f| %>

  <%= f.hidden_field :id %>
  
  <div class="form-group">
    <%= f.label :name, :class => "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :description, :class => "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <%= f.text_field :description, :class => "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :start_day, :class => "col-sm-1 control-label" %>
    <div class="col-sm-11"> 
      <%= f.select(:start_day, [['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6], ['Sunday', 0]], {}, { :selected => :start_day , class: 'input-sm form-control' } ) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :end_day, :class => "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <%= f.select(:end_day, [['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6], ['Sunday', 0]], {}, { :selected => :end_day , class: 'input-sm form-control'} ) %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <%= link_to 'Cancel', buses_timetable_route_path(:timetable_start_date => @timetable.start_date, :id => @route.id) %>
      <%= f.submit "Submit", { :class => "btn btn-primary" } %>
    </div>
  </div>

<% end%>