<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Buses", buses_path %></li>
    <li><%= link_to @route.timetable.name + ' Timetable', buses_timetable_path(:start_date => @route.timetable.start_date) %></li>
    <li class="active">Route <%= @route.name%></li>
  </ol>
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(function() {
      var url = document.location.toString();
      if (url.match('#')) {
          $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
      } 

      // Change hash for page-reload
      $('.nav-tabs a').on('shown', function (e) {
          window.location.hash = e.target.hash;
      })
    });
  </script>
<% end %>

<h1 class="page-header">Route <%= @route.name %> Details <small><%= Date::DAYNAMES[@route.start_day] %> - <%= Date::DAYNAMES[@route.end_day] %></small></h1>

<%= button_to 'Delete', buses_timetable_route_path(:timetable_start_date => @route.timetable.start_date, :id => @route.id), method: :delete, data: { confirm: 'Are you sure you wish to delete this route?' }, :class => "btn btn-danger btn-sm pull-right", :style => "margin-left:10px" %>
<p class="pull-right"  style="margin:7px;"><%= link_to 'Edit', edit_buses_timetable_route_path(:timetable_start_date => @route.timetable.start_date, :id => @route.id)%></p>


<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#times" data-toggle="tab">Times</a></li>
  <li><a href="#stops" data-toggle="tab">Stops</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="times">
    
    <% if @route.route_stops.count == 0 %>
      <h3 class="text-center">No stops available! To get started, hit the 'Stops' tab above.</h3>
    <% else %>
      <h3>Route Times</h3>
      <p class="pull-right" style="margin:7px;"><%= link_to 'Create', new_buses_timetable_route_stop_time_path(route_id: @route.id, timetable_start_date: @route.timetable.start_date) %></p>
      <div style="overflow-y:scroll">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Stops</th>
            <th colspan="<%= @route.route_stops[0].stop_times.count %>">Times</th>
          </tr>
        </thead>
        <tbody>
          <% @route.route_stops.each do |route_stop| %>
            <tr>
              <td><strong><%= route_stop.stop.name %></strong></td>
              <% for stop_time in route_stop.stop_times %>
                <td><%= stop_time.time_string %></td>
              <% end %>
            </tr>
            <% end %>
        </tbody>
    
        <tfoot>
          <tr>
            <td></td>
            <% @route.route_stops.each do |route_stop| %>
              <% route_stop.stop_times.each do |stop_time| %>
              <td>
                <%= link_to edit_buses_timetable_route_stop_time_path(:timetable_start_date => @route.timetable.start_date, :route_id => @route.id, :id => stop_time.origin_stop_time_id), :title => "Edit" do %>
                  <span class="glyphicon glyphicon-edit"></span>
                <% end %>
                <%= link_to buses_timetable_route_stop_time_path(:timetable_start_date => @route.timetable.start_date, :route_id => @route.id, :id => stop_time.origin_stop_time_id), :title => "Delete",:class => "text-danger", :method => :delete, :confirm => "Are you sure you wish to delete this chain of stop times?" do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              </td>
              <% end %>
              
              <% break %>
            <% end %>
          </tr>
        </tfoot>
      </table>
    </div>
      <% end %>
    
  </div>
  <div class="tab-pane" id="stops">
    <h3>Stops</h3>
    
    <%= form_for [:buses, @route.timetable, @route, @route_stop], :html => { :class => 'form-inline' } do |f| %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Index</th>
            <th>Stop</th>
            <th>Display?</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @route.route_stops.each do |route_stop| %>
          <tr>
            <td style="width:30px"><%= link_to '<span class="glyphicon glyphicon-arrow-up"></span>'.html_safe, buses_timetable_route_route_stop_move_up_path(route_stop_id: route_stop.id, route_id: route_stop.route.id), method: :post, data: { confirm: "Are you sure?" } %></td>
            <td style="width:30px"><%= link_to '<span class="glyphicon glyphicon-arrow-down"></span>'.html_safe, buses_timetable_route_route_stop_move_down_path(route_stop_id: route_stop.id, route_id: route_stop.route.id), method: :post, data: { confirm: "Are you sure?" } %></a></td>
            <td><%= route_stop.idx %></td>
            <td><%= route_stop.stop.name %></td>
            <td><%= route_stop.display ? "Yes" : "No" %></td>
            <td><%= route_stop.stop.latitude %></td>
            <td><%= route_stop.stop.longitude %></td>
            <td><%= link_to 'Destroy', buses_timetable_route_route_stop_path(:timetable_start_date => @route.timetable.start_date, :route_id => @route.id, :id => route_stop.id),
                      method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
          <% if @route.route_stops.count == 0 %>
            <tr>
              <td colspan="8"><h3 class="text-center">No stops have been added yet!</h3></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3"></td>
            <td><%= f.select(:stop_id, options_for_select(@route.timetable.stops.map { |stop| ["#{stop.name} (Lat: #{stop.latitude} Lng: #{stop.longitude})", stop.id] }), {}, { :class => "form-control input-sm"})%></td>
            <td><%= f.check_box :display, :checked => 'checked' %></td>
            <td colspan="4">
              <%= f.hidden_field :route_id %>
              <%= f.submit "Add Stop", class: "btn btn-primary btn-sm" %></td>
          </tr>
        </tfoot>
      </table>
      <% end %>
  </div>
</div>