<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Charts", charts_path %></li>
  <li><%= link_to 'Finance', charts_finance_path %></li>
  <li class="active"><%= @title %></li>
</ol>
<% end %>

<div class="page-header">
  <h1>Finance</h1>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" class="<%= 'active' if action?('charts/finance', 'banking') %>"><%= link_to 'Banking', charts_finance_banking_path %></li>
</ul>