<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Developers", developers_path %></li>
    <li class="active">Traffic</li>
  </ol>
<% end %>

<div class="page-header">
  <h1>Traffic</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover vertical-align-middle" width="100%">
    <thead>
      <tr>
        <th>API</th>
        <th>Version</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Traffic</td>
        <td>1.0</td>
        <td>description</td>
        <td><%= link_to 'XML', api_v10_traffic_traffic_path(:format => "xml")  %></td>
        <td><%= link_to 'JSON', api_v10_traffic_traffic_path(:format => "json") %></td>
        <td><%= link_to 'RAW HTML', api_v10_traffic_traffic_path(:format => "html", :layout => false) %></td>
        <td><%= link_to 'HTML', api_v10_traffic_traffic_path(:format => "html") %></td>
      </tr>
      <tr>
        <td>Collisions</td>
        <td>1.0</td>
        <td>description</td>
        <td><%= link_to 'XML', api_v10_traffic_collisions_path(:format => "xml")  %></td>
        <td><%= link_to 'JSON', api_v10_traffic_collisions_path(:format => "json") %></td>
        <td><%= link_to 'RAW HTML', api_v10_traffic_collisions_path(:format => "html", :layout => false) %></td>
        <td><%= link_to 'HTML', api_v10_traffic_collisions_path(:format => "html") %></td>
      </tr>
      <tr>
        <td>Injuries</td>
        <td>1.0</td>
        <td>description</td>
        <td><%= link_to 'XML', api_v10_traffic_injuries_path(:format => "xml")  %></td>
        <td><%= link_to 'JSON', api_v10_traffic_injuries_path(:format => "json") %></td>
        <td><%= link_to 'RAW HTML', api_v10_traffic_injuries_path(:format => "html", :layout => false) %></td>
        <td><%= link_to 'HTML', api_v10_traffic_injuries_path(:format => "html") %></td>
      </tr>
      <tr>
        <td>Classifications</td>
        <td>1.0</td>
        <td>description</td>
        <td><%= link_to 'XML', api_v10_traffic_classifications_path(:format => "xml")  %></td>
        <td><%= link_to 'JSON', api_v10_traffic_classifications_path(:format => "json") %></td>
        <td><%= link_to 'RAW HTML', api_v10_traffic_classifications_path(:format => "html", :layout => false) %></td>
        <td><%= link_to 'HTML', api_v10_traffic_classifications_path(:format => "html") %></td>
      </tr>
    </tbody>
  </table>
</div>