<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Developers", developers_path %></li>
  <li class="active">Health</li>
</ol>
<% end %>

<div class="page-header">
  <h1>Health</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover vertical-align-middle" width="100%">
    <thead>
      <tr>
        <th>API</th>
        <th>Version</th>
        <th>Description</th>
        <th>Updated</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <%= render partial: 'developers/developers_list_item',
     locals: { name: 'Concerns', target: method(:api_v10_health_concerns_path), desc: 'Concerns found during screenings',
     updated: '05/09/2015' } %>
     <%= render partial: 'developers/developers_list_item',
     locals: { name: 'Totals', target: method(:api_v10_health_totals_path), desc: 'Total numbers of screenings by age',
     updated: '05/09/2015' } %>
    <%= render partial: 'developers/developers_list_item',
     locals: { name: 'Medical Unit Bed Days', target: method(:api_v10_health_med_unit_bed_days_five_yr_avg_path), desc: 'Medical Unit bed days five year average',
     updated: '15/10/2015' } %>
   </tbody>
 </table>
</div>

<p>Source: <%= link_to 'chestandheart.org.gg', 'http://www.chestandheart.org.gg/' %></p>
<p>Source: <%= link_to 'gov.gg', 'http://www.gov.gg/pru' %></p>