<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Charts", charts_path %></li>
  <li><%= link_to 'Crime', charts_crime_path %></li>
  <li class="active"><%= @title %></li>
</ol>
<% end %>

<div class="page-header">
  <h1>Crime</h1>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" class="<%= 'active' if action?('charts/crime', 'detected') %>"><%= link_to 'Detected', charts_crime_detected_path %></li>
  <li role="presentation" class="<%= 'active' if action?('charts/crime', 'reported') %>"><%= link_to 'Reported', charts_crime_reported_path %></li>
  <li role="presentation" class="<%= 'active' if action?('charts/crime', 'prison_population') %>"><%= link_to 'Prison Popluation', charts_crime_prison_population_path %></li>
  <li role="presentation" class="<%= 'active' if action?('charts/crime', 'worried') %>"><%= link_to 'Worried', charts_crime_worried_path %></li>
</ul>
