<%= render 'head' %>


<div id="container_detected" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
<%= javascript_tag do %>
$(function() {
  initPage();
});
$(window).bind('page:change', function() {
  initPage();
});

function initPage() {

    $('#container_detected').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: '<%= @title %>'
        },
        xAxis: {
            allowDecimals: false,
            crosshair: true,
            categories: <%= @labels.to_json.html_safe %>,
            title: {
                text: 'Year'
            }
        },
        yAxis: {
            allowDecimals: false,
            title: {
                text: 'Count'
            }
        },
        tooltip: {
            shared: true,
        },
        series: <%= @results.to_json.html_safe %>
    });
}
<% end %>
