<%=  render  'head'  %>

<div  id="container_crime_prison_population"  style="min-width:  310px;  height:  500px;  margin:  0  auto"></div>

<p>Source:  <a  href="http://www.gov.gg/pru">gov.gg</a></p>

<%=  javascript_tag  do  %>
$(function()  {
    initPage();
});
$(window).bind('page:change',  function()  {
    initPage();
});

function  initPage()  {
        $('#container_crime_prison_population').highcharts({
                chart:  {
                        type:  'line'
                },
                title:  {
                        text:  '<%=  @title  %>'
                },
                xAxis:  {
                        allowDecimals:  false,
                        categories:  <%=  @labels.to_json.html_safe  %>,
                        title:  {
                                text:  'Year'
                        }
                },
                yAxis:  {
                        allowDecimals:  false,
                        title:  {
                                text:  'Count'
                        }
                },
                series:  [{
                        name:  'Prison  Population',
                        data:  <%=  @count.to_json.html_safe  -%>
                }]
        });
}
<%  end  %>
