<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li class="active">Buses</li>
  </ol>
<% end %>

<h2>Bus Data</h2>

<table class="table table-striped" style="margin-bottom:50px">
  <thead>
    <tr>
      <th>API Calls</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>http://www.data.gg/buses/api/latest.{format}</td>
    </tr>
    <tr>
      <td>http://www.data.gg/buses/api/{yyyymmdd}.{format}</td>
    </tr>
  </tbody>
</table>

<% if @latest %>
<div class="col-md-3">
  <%= link_to data_api_v1_buses_timetables_path(:type => "xml", :date => @latest.start), :style => "text-align:center" do %>
    <%= image_tag("note-64x64.png") %>
    <h3>XML</h3>
  <% end %>
</div>
<div class="col-md-3">
  <%= link_to image_tag("note-64x64.png"), data_api_v1_buses_timetables_path(:type => "json", :date => @latest.start)  %>
  JSON
</div>
<div class="col-md-3" style="border-left:2px solid black; padding:10px 0; text-align:center">
  <%= link_to image_tag("note-64x64.png"), data_api_v1_buses_timetables_path(:type => "object", :date => @latest.start)  %>
  Object
</div>
<div class="col-md-3">
  <%= link_to image_tag("note-64x64.png"), data_api_v1_buses_timetables_path(:type => "html", :date => @latest.start)  %>
  HTML
</div>
<div class="clearfix"></div>
<% end %>

<table class="table table-striped" style="margin-top:50px; width:100%">
  <% if @timetables.count > 0 %>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <% if user_signed_in? %><th></th><% end %>
    </tr>
  </thead>
  <% end %>
  <tbody>
    <% if @timetables.count > 0 %>
      <% @timetables.each do |timetable| %>
        <tr>
          <td><%= link_to timetable.name, api_v1_buses_timetable_path(start_date: timetable.start) %></td>
          <td><%= timetable.start %></td>
          <td><%= timetable.end %>
          <% if user_signed_in? %><td><%= link_to 'Destroy', api_v1_buses_timetable_path(start_date: timetable.start),
                          method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4"><h3 class="text-center">Uh-oh, no timetables available yet!</h3></td>
      </tr>
    <% end %>
  </tbody>
  <% if user_signed_in? %>
  <tfoot>
    <tr>
      <%= form_for [:api, :v1, :buses, @timetable], { :class => 'form-inline'} do |f| %>
        <td><%= f.text_field :name, {:tabindex => 1, :autofocus => true, :class => "form-control", :placeholder => "Name"} %></td>
        <td><%= f.text_field :start, {:tabindex => 2, :class => "form-control", :placeholder => "Start date" } %></td>
        <td><%= f.text_field :end, {:tabindex => 3, :class => "form-control", :placeholder => "End date" } %></td>
        <td><%= f.submit 'Create', { :class => "btn btn-primary"} %></td>
      <% end %>
    </tr>
  </tfoot>
  <% end %>
</table>


