<%= render 'head' %>

<div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
<%= javascript_tag do %>
$(function() {
  initPage();
});
$(window).bind('page:change', function() {
  initPage();
});

function initPage() {
    $('#container').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: '<%= @title %>'
        },
        xAxis: {
            allowDecimals: false,
            categories: <%= @labels.to_json.html_safe %>,
            title: {
                text: 'Quarter'
            }
        },
        yAxis: {
            allowDecimals: false,
            title: {
                text: 'Count'
            }
        },
        series: [{
            name: 'Employed',
            data: <%= @employed.to_json.html_safe -%>
        },
        {
            name: 'Unemployed',
            data: <%= @unemployed.to_json.html_safe -%>
        },
        {
            name: 'Employers',
            data: <%= @employers.to_json.html_safe -%>
        }]
    });
}
<% end %>
