<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Charts", charts_path %></li>
  <li><%= link_to 'Earnings', charts_earnings_path %></li>
  <li class="active"><%= @title %></li>
</ol>
<% end %>

<div class="page-header">
  <h1>Earnings</h1>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" class="<%= 'active' if action?('charts/earnings', 'nominal_sex') %>"><%= link_to 'Nominal Sex', charts_earnings_nominal_sex_path %></li>
  <li role="presentation" class="<%= 'active' if action?('charts/earnings', 'age_group') %>"><%= link_to 'Age Group', charts_earnings_age_group_path %></li>
  <li role="presentation" class="<%= 'active' if action?('charts/earnings', 'sector') %>"><%= link_to 'Sector', charts_earnings_sector_path %></li>
</ul>
