<%=  render  'head'  %>

<div  id="container_age_group"  style="min-width:  310px;  height:  400px;  margin:  0  auto"></div>

<p>Source:  <a  href="http://www.gov.gg/earnings">gov.gg</a></p>

<%=  javascript_tag  do  %>
$(function()  {
    initPage();
});
$(window).bind('page:change',  function()  {
    initPage();
});

function  initPage()  {
        $('#container_age_group').highcharts({
                chart:  {
                        type:  'column'
                },
                title:  {
                        text:  '<%=  @title  %>'
                },
                xAxis:  {
                        categories:  <%=  @labels.to_json.html_safe  %>,
                        crosshair:  true,
                        title:  {  text:  'Year'  }
                },
                yAxis:  {
                        min:  0,
                        title:  {
                                text:  'Earnings'
                        }
                },
                tooltip:  {
                        shared:  true,
                },
                series:  [{
                        name:  'Lower  Quartile',
                        data:  <%=  @lowers.to_json.html_safe  %>

                },  {
                        name:  'Median',
                        data:  <%=  @medians.to_json.html_safe  %>

                },  {
                        name:  'Upper  Quartile',
                        data:  <%=  @uppers.to_json.html_safe  %>

                }]
        });
}
<%  end  %>
