<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Charts", charts_path %></li>
    <li class="active">Earnings</li>
  </ol>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Earnings</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12" style="margin-bottom:100px;">



    <h3>Nominal Earnings by Sex</h3>
    <span style="background-color: rgba(220,220,220,0.5);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Female
    <span style="background-color: rgba(151,187,205,0.5);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Male
      <canvas id="earningsSex" width="800" height="200" style="width:800px"></canvas>
    <%= javascript_tag do %>
      var ctx = document.getElementById("earningsSex").getContext("2d");

      var data = {
      labels : <%= @earnings_sex.uniq { |p| p['Year'] }.collect { |p| p['Year'] } %>,
      datasets : [
          {
            label: "Female",
            fillColor : "rgba(220,220,220,0.5)",
            strokeColor : "rgba(220,220,220,1)",
            pointColor : "rgba(220,220,220,1)",
            pointStrokeColor : "#fff",
            data : <%= @earnings_sex.select { |p| p['Sex'] == 'Female' }.collect{ |p| p['Nominal median earnings'] } %>
          },
          {
            label: "Male",
            fillColor : "rgba(151,187,205,0.5)",
            strokeColor : "rgba(151,187,205,1)",
            pointColor : "rgba(151,187,205,1)",
            pointStrokeColor : "#fff",
            data : <%= @earnings_sex.select { |p| p['Sex'] == 'Male' }.collect{ |p| p['Nominal median earnings'] } %>
          }
        ]
      };
      var myNewChart = new Chart(ctx).Bar(data);
    <% end %>

    <h3>Earnings by Age Group (2012)</h3>
    <span style="background-color: rgba(220,220,220,0.5);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Lower Quartile
    <span style="background-color: rgba(151,187,205,0.5);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Median
    <span style="background-color: rgba(80,130,205,0.5);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Upper Quartile
    <div>
    <canvas id="earningsAge2012"></canvas>
    </div>
    <%= javascript_tag do %>
      var ctx = document.getElementById("earningsAge2012").getContext("2d");

      var data = {
      labels : <%= @earnings_age_group.select { |p| p['Year'] == 2012 }.collect { |p| p['Age Group'] }.to_s.html_safe %>,
      datasets : [
          {
            label: "Lower quartile earnings",
            fillColor : "rgba(220,220,220,0.5)",
            strokeColor : "rgba(220,220,220,1)",
            pointColor : "rgba(220,220,220,1)",
            pointStrokeColor : "#fff",
            data : <%= @earnings_age_group.select { |p| p['Year'] == 2012 }.collect{ |p| p['Lower quartile earnings'] } %>
          },
          {
            label: "Median earnings",
            fillColor : "rgba(151,187,205,0.5)",
            strokeColor : "rgba(151,187,205,1)",
            pointColor : "rgba(151,187,205,1)",
            pointStrokeColor : "#fff",
            data : <%= @earnings_age_group.select { |p| p['Year'] == 2012 }.collect{ |p| p['Median earnings'] } %>
          },
          {
            label: "Upper quartile earnings",
            fillColor : "rgba(80,130,205,0.5)",
            strokeColor : "rgba(80,130,205,1)",
            pointColor : "rgba(80,130,205,1)",
            pointStrokeColor : "#fff",
            data : <%= @earnings_age_group.select { |p| p['Year'] == 2012 }.collect{ |p| p['Upper quartile earnings'] } %>
          }
        ]
      };

      Chart.defaults.global.responsive = true;
      var myNewChart = new Chart(ctx).Bar(data);
    <% end %>

    <h3>Earnings by Age Group (2013)</h3>
    <span style="background-color: rgba(220,220,220,0.5);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Lower Quartile
    <span style="background-color: rgba(151,187,205,0.5);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Median
    <span style="background-color: rgba(80,130,205,0.5);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Upper Quartile
    <div>
    <canvas id="earningsAge2013" width="400"></canvas>
    </div>
    <%= javascript_tag do %>
      var ctx = document.getElementById("earningsAge2013").getContext("2d");

      var data = {
      labels : <%= @earnings_age_group.select { |p| p['Year'] == 2013 }.collect { |p| p['Age Group'] }.to_s.html_safe %>,
      datasets : [
          {
            label: "Lower quartile earnings",
            fillColor : "rgba(220,220,220,0.5)",
            strokeColor : "rgba(220,220,220,1)",
            pointColor : "rgba(220,220,220,1)",
            pointStrokeColor : "#fff",
            data : <%= @earnings_age_group.select { |p| p['Year'] == 2013 }.collect{ |p| p['Lower quartile earnings'] } %>
          },
          {
            label: "Median earnings",
            fillColor : "rgba(151,187,205,0.5)",
            strokeColor : "rgba(151,187,205,1)",
            pointColor : "rgba(151,187,205,1)",
            pointStrokeColor : "#fff",
            data : <%= @earnings_age_group.select { |p| p['Year'] == 2013 }.collect{ |p| p['Median earnings'] } %>
          },
          {
            label: "Upper quartile earnings",
            fillColor : "rgba(80,130,205,0.5)",
            strokeColor : "rgba(80,130,205,1)",
            pointColor : "rgba(80,130,205,1)",
            pointStrokeColor : "#fff",
            data : <%= @earnings_age_group.select { |p| p['Year'] == 2013 }.collect{ |p| p['Upper quartile earnings'] } %>
          }
        ]
      };

      Chart.defaults.global.responsive = true;
      var myNewChart = new Chart(ctx, { responsive: true }).Bar(data);
    <% end %>

  </div>

</div>