<%= render 'head' %>


<div id="container_nominal_sex" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<%= javascript_tag do %>
$(function() {
  initPage();
});
$(window).bind('page:change', function() {
  initPage();
});

function initPage() {
    $('#container_nominal_sex').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '<%= @title %>'
        },
        xAxis: {
            categories: <%= @labels.to_json.html_safe %>,
            crosshair: true,
            title: { text: 'Year' }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Earnings'
            }
        },
        tooltip: {
            shared: true,
        },
        series: [{
            name: 'Male',
            data: <%= @males.to_json.html_safe %>

        }, {
            name: 'Female',
            data: <%= @females.to_json.html_safe %>

        }]
    });
}
<% end %>