<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Charts", charts_path %></li>
  <li><%= link_to 'Education', charts_education_path %></li>
  <li class="active"><%= @title %></li>
</ol>
<% end %>

<div class="page-header">
  <h1>Education</h1>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" class="<%= 'active' if action?('charts/education', 'post16results') %>"><%= link_to 'A-Level Results', charts_education_post16results_path %></li>
  <li role="presentation" class="<%= 'active' if action?('charts/education', 'post16results_btec') %>"><%= link_to 'BTEC Results', charts_education_post16results_btec_path %></li>
  <li role="presentation" class="<%= 'active' if action?('charts/education', 'gcses_overall') %>"><%= link_to 'GCSE Overall', charts_education_gcses_overall_path %></li>
  <li role="presentation" class="<%= 'active' if action?('charts/education', 'gcses_by_school') %>"><%= link_to 'GCSE by School', charts_education_gcses_by_school_path %></li>
  <li role="presentation" class="<%= 'active' if action?('charts/education', 'students_in_uk') %>"><%= link_to 'Students in UK', charts_education_students_in_uk_path %></li>
</ul>