<%= render 'head' %>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<%= javascript_tag do %>
$(function() {
  initPage();
});
$(window).bind('page:change', function() {
  initPage();
});

function initPage() {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '<%= @title %>'
        },
        xAxis: {
            categories: <%= @labels.to_json.html_safe %>,
            crosshair: true,
            title: { text: 'Grade' }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Count'
            }
        },
        tooltip: {
            shared: true,
        },
        series: <%= @results.to_json.html_safe %>
    });
}
<% end %>