<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Charts", charts_path %></li>
    <li><%= link_to "Education", charts_education_post16results_path %></li>
    <li class="active">Post-16 Results</li>
  </ol>
<% end %>

<div class="page-header">
  <h1>Post-16 Results</h1>
</div>
    
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to 'Post-16 Results', charts_education_post16results_path %></li>
  <li role="presentation"><%= link_to 'Overall GCSEs', charts_education_gcses_overall_path %></li>
  <li role="presentation"><%= link_to 'GCSEs by School', charts_education_gcses_by_school_path %></li>
</ul>

<div class="row">
  <div class="col-md-12">

    <h2>A-Level Results</h2>
    
    <table style="margin:10px 0;float:right; font-size:0.9em">
      <tr>
        <% @alevel_colour_keys.each do |key,value| %>
        <td><div style="margin:0 3px 0 10px; width:15px;height:15px;background-color:<%= raw key[0] %>;border:2px solid <%= key[1] %>"></td>
          <td><%= value %></td>
        <% end %>
      </tr>
    </table>
    
    <canvas id="post_16_chart"></canvas>
    <%= javascript_tag do %>
      var ctx = document.getElementById("post_16_chart").getContext("2d");

      var data = {
        labels : <%= @alevel_labels.to_s.html_safe -%>,
        datasets : <%= @alevels.to_json.html_safe -%>
      };
      Chart.defaults.global.responsive = true;
      var myNewChart = new Chart(ctx).Bar(data, {

      });
    <% end %>
  </div>
    
  <div class="col-md-12">  
    <h2>BTEC Results</h2>
    
    <table style="margin:10px 0;float:right; font-size:0.9em">
      <tr>
        <% @btec_colour_keys.each do |key,value| %>
        <td><div style="margin:0 3px 0 10px; width:15px;height:15px;background-color:<%= raw key[0] %>;border:2px solid <%= key[1] %>"></td>
          <td><%= value %></td>
        <% end %>
      </tr>
    </table>
    
    <canvas id="btec_chart"></canvas>
    <%= javascript_tag do %>
      var ctx = document.getElementById("btec_chart").getContext("2d");

      var data = {
        labels : <%= @btec_labels.to_s.html_safe -%>,
        datasets : <%= @btecs.to_json.html_safe -%>
      };
      Chart.defaults.global.responsive = true;
      var myNewChart = new Chart(ctx).Bar(data, {

      });
    <% end %>
    
  </div>
</div>