<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Buses", buses_path %></li>
    <li><%= link_to @stop_time.route.timetable.name + ' Timetable', buses_timetable_path(:start_date => @stop_time.route.timetable.start_date) %></li>
    <li><%= link_to 'Route ' + @stop_time.route.name, buses_timetable_route_path(:timetable_start_date => @stop_time.route.timetable.start_date, :id => @stop_time.route.id)%></li>
    <li class="active">Stop Links</li>
  </ol>
<% end %>

<h2 class="page-header">Stop Times for 'Route <%= @stop_time.route.name %>'</h2>

<%= form_tag(buses_timetable_route_stop_time_path(:timetable_start_date => @stop_time.route.timetable.start_date, :route_id => @stop_time.route.id, :id => @stop_time.id), method: :put, :class => "form-horizontal") do -%>
  <% @stop_time.stop_times.sort_by{|e| e.route_stop.idx }.each_with_index do |stop_time, i| %>
    <%= fields_for "stop_times[#{i}]", stop_time do |sl| %>
    
      <div class="form-group">
        <%= sl.label stop_time.route_stop.stop.name, :class => "col-sm-2 control-label" %>
        <div class="col-sm-8">
          <%= sl.text_field :time, :class => "form-control" %>
          
          <%= sl.hidden_field :id, :value => stop_time.id %>
        </div>
        <div class="col-sm-1">
          <%= sl.label :skip %>
          <%= sl.check_box :skip %>
        </div>
        <div class="col-sm-1">
          <%= sl.label :night %>
          <%= sl.check_box :night %>
        </div>
      </div>
    <% end %>
  <% end %>
  
  <%= hidden_field_tag :timetable_start_date, @stop_time.route.timetable.start_date %>
  <%= hidden_field_tag :route_id, @stop_time.route.id %>
  <%= hidden_field_tag :id, @stop_time.id %>
  
  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <%= link_to 'Cancel', buses_timetable_route_path(:timetable_start_date => @stop_time.route.timetable.start_date, :id => @stop_time.route.id) %>
      <%= submit_tag "Submit", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>