<%=  render  'head'  %>

<div  id="container_classifications"  style="min-width:  310px;  height:  400px;  margin:  0  auto"></div>

<p>Source:  <%=  link_to  'guernsey.police.uk',  'http://www.guernsey.police.uk/article/6078/Publications'  %></p>

<%=  javascript_tag  do  %>
$(function()  {
    initPage();
});
$(window).bind('page:change',  function()  {
    initPage();
});

function  initPage()  {
        $('#container_classifications').highcharts({
                chart:  {
                        type:  'column'
                },
                title:  {
                        text:  '<%=  @title  %>'
                },
                xAxis:  {
                        categories:  <%=  @labels.to_json.html_safe  %>,
                        crosshair:  true,
                        title:  {  text:  'Year'  }
                },
                yAxis:  {
                        min:  0,
                        title:  {
                                text:  'Count'
                        }
                },
                tooltip:  {
                        shared:  true,
                },
                series:  [{
                        name:  'Slight',
                        data:  <%=  @slights.to_json.html_safe  %>

                },  {
                        name:  'Serious',
                        data:  <%=  @seriouses.to_json.html_safe  %>

                },  {
                        name:  'Fatal',
                        data:  <%=  @fatals.to_json.html_safe  %>

                }]
        });
}
<%  end  %>