<h2>Bus Data</h2>

<table class="table table-striped" style="margin-bottom:50px">
  <thead>
    <tr>
      <th>API Calls</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>http://www.data.gg/buses/api/latest.{format}</td>
    </tr>
    <tr>
      <td>http://www.data.gg/buses/api/{yyyymmdd}.{format}</td>
    </tr>
  </tbody>
</table>

<% if @latest %>
<div class="col-md-3">
  <%= link_to buses_timetables_download_path(:type => "xml", :date => @latest.effective_date), :style => "text-align:center" do %>
    <%= image_tag("note-64x64.png") %>
    <h3>XML</h3>
  <% end %>
</div>
<div class="col-md-3">
  <%= link_to image_tag("note-64x64.png"), buses_timetables_download_path(:type => "json", :date => @latest.effective_date)  %>
  JSON
</div>
<div class="col-md-3" style="border-left:2px solid black; padding:10px 0; text-align:center">
  <%= link_to image_tag("note-64x64.png"), buses_timetables_download_path(:type => "object", :date => @latest.effective_date)  %>
  Object
</div>
<div class="col-md-3">
  <%= link_to image_tag("note-64x64.png"), buses_timetables_download_path(:type => "html", :date => @latest.effective_date)  %>
  HTML
</div>
<div class="clearfix"></div>
<% end %>

<% if @timetables.count > 0 %>
<table class="table table-striped" style="margin-top:50px;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Effective Date</th>
    </tr>
  </thead>
  <tbody>
  <% @timetables.each do |timetable| %>
    <tr>
      <td><%= link_to timetable.name, buses_timetable_path(date: timetable.effective_date) %></td>
      <td><%= timetable.effective_date %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
No timetables to display
<% end %>


<%= link_to 'Create Timetable', new_buses_timetable_path %>