<h1>Timetables</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Effective Date</th>
      <th>XML</th>
      <th>HTML</th>
      <th>JSON</th>
      <th>Object</th>
    </tr>
  </thead>
  <tbody>
  <% @timetables.each do |timetable| %>
    <tr>
      <td><%= link_to timetable.name, buses_timetable_path(date: timetable.effective_date) %></td>
      <td><%= timetable.effective_date %></td>
      <td><%= link_to image_tag("xml_download.png"), buses_timetables_download_path(:type => "xml", :date => timetable.effective_date) %></td>
      <td><%= link_to image_tag("html_download.png"), buses_timetables_download_path(:type => "html", :date => timetable.effective_date) %></td>
      <td><%= link_to image_tag("json_download.png"), buses_timetables_download_path(:type => "json", :date => timetable.effective_date) %></td>
      <td><%= link_to image_tag("object_download.png"), buses_timetables_download_path(:type => "object", :date => timetable.effective_date) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
