<%  content_for  :breadcrumb  do  %>
    <ol  class="breadcrumb">
        <li><%=  link_to  "Home",  root_path  %></li>
        <li><%=  link_to  "Sailings",  api_v1_sailings_path  %></li>
        <li  class="active">Herm  Trident</a>
    </ol>
<%  end  %>

<table  class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Depart</th>
            <th>Return</th>
        </tr>
    </thead>
    <tbody>
        <%  @herm_tridents.each  do  |f|  %>
        <tr>
        <td><%=  f['Date']  %></td>
        <td><%=  f['Depart']  %></td>
        <td><%=  f['Return']  %></td>
        </tr>
        <%  end  %>
    </tbody>
</table>