<%  content_for  :breadcrumb  do  %>
    <ol  class="breadcrumb">
        <li><%=  link_to  "Home",  root_path  %></li>
        <li  class="active">Sailings</li>
    </ol>
<%  end  %>

<h2>Sailings</h2>
<h3>Harbour</h3>
<div  class="row">
    <div  class="col-md-4  padded-cell">
        <%=  link_to  image_tag("note-64x64.png"),  api_v1_sailings_harbour_path(:format  =>  "xml")  %>
        XML
    </div>
    <div  class="col-md-4  padded-cell">
    <%=  link_to  image_tag("note-64x64.png"),  api_v1_sailings_harbour_path(:format  =>  "json")  %>
        JSON
    </div>
    <div  class="col-md-4  padded-cell">
    <%=  link_to  image_tag("note-64x64.png"),  api_v1_sailings_harbour_path(:format  =>  "html")  %>
        HTML
    </div>
</div>

<h3>Herm  Tridents</h3>
<div  class="row">
    <div  class="col-md-4  padded-cell">
        <%=  link_to  image_tag("note-64x64.png"),  api_v1_sailings_herm_trident_path(:format  =>  "xml")  %>
        XML
    </div>
    <div  class="col-md-4  padded-cell">
    <%=  link_to  image_tag("note-64x64.png"),  api_v1_sailings_herm_trident_path(:format  =>  "json")  %>
        JSON
    </div>
    <div  class="col-md-4  padded-cell">
    <%=  link_to  image_tag("note-64x64.png"),  api_v1_sailings_herm_trident_path(:format  =>  "html")  %>
        HTML
    </div>
</div>


<h3>Source</h3>
<%=  link_to  'herm.com  website',  'http://herm.com/getting-here/trident-ferry/default.aspx'  %>
<br/>
<%=  link_to  'guernseyharbours.gov.gg  website',  'http://www.guernseyharbours.gov.gg/article/100192/Arrivals--Departures'  %>