<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Buses", api_v1_buses_path %></li>
    <li class="active"><%= link_to @timetable.name + ' Timetable', api_v1_buses_timetable_path(:start_date => @timetable.start_date) %></li>
  </ol>
<% end %>

<h2 class="page-header">Edit timetable '<%= @timetable.name %>'</h2>

<%= form_for @timetable, url: { action: "update" }, html: { class: "form-horizontal" } do |f| %>

  <%= f.hidden_field :id %>
  
  <div class="form-group">
    <%= f.label :name, :class => "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :start_date, :class => "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <%= f.text_field :start_date, :class => "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :end_date, :class => "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <%= f.text_field :end_date, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <%= link_to 'Cancel', api_v1_buses_timetable_path(:start_date => @timetable.start_date) %>  &nbsp;
      <%= f.submit "Submit", { :class => "btn btn-default" } %>
    </div>
  </div>

<% end%>