<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Buses", api_v1_buses_path %></li>
  <li class="active"><%= @timetable.name%> Timetable</li>
</ol>

<h1><%= @timetable.name %> <small>Routes</small></h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#api" data-toggle="tab">API</a></li>
  <li><a href="#routes" data-toggle="tab">Routes</a></li>
  <li><a href="#stops" data-toggle="tab">Stops</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="api">
    <h3>API</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Call</th>
          <th>XML</th>
          <th>JSON</th>
          <th>HTML</th>
          <th>Object</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">Test</a></td>
          <td><a href="#">Test</a></td>
          <td><a href="#">Test</a></td>
          <td><a href="#">Test</a></td>
          <td><a href="#">Test</a></td> 
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="routes">
    <h3>Routes</h3>
    <table class="table table-striped">
      <tbody>
        <% curr_route = '' %>
        <% @timetable.routes.order('name').each do |route| %>
          <% if curr_route != route.name 
                curr_route = route.name %>
                <tr>
                  <th><h4>Route <%= route.name %></h4></th>
                  <th style="vertical-align:middle">Description</th>
                  <th style="vertical-align:middle">Start</th>
                  <th style="vertical-align:middle" >End</th>
                  <th></th>
                </tr>
          <% end  %>
          <tr>
            <td><%= link_to route.name, api_v1_buses_timetable_route_path(:timetable_start_date => @timetable.start, :id => route.id) %>
            <td><%= route.description %></td>
            <td><%= Date::DAYNAMES[route.start_day] %></td>
            <td><%= Date::DAYNAMES[route.end_day] %></td>
            <td><a href="#">Delete</a></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <%= form_for [:api, :v1, :buses, @timetable, @route], html: { class: 'form-inline'} do |f| %>
            <td><%= f.hidden_field :timetable_id, :value => @timetable.id %>
              <%= f.text_field :name, { :class => "form-control input-sm", :placeholder => "Route name"} %></td>
            <td><%= f.text_field :description, { class: 'form-control input-sm', :placeholder => "Description" } %></td>
            <td><%= f.select(:start_day, [['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6], ['Sunday', 0]], {}, class: 'input-sm form-control' ) %></td>
            <td><%= f.select(:end_day, [['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6], ['Sunday', 0]], {}, class: 'input-sm form-control' ) %></td>
            <td><%= f.submit 'Add Route', { :class =>  "btn btn-sm btn-primary"} %></td>
          <% end %>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="tab-pane" id="stops">
    <h3>Stops</h3>
    <table class="table table-striped">
      <thead>
        <th>Stop</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th></th>
      </thead>
      <tbody>
        <% @timetable.stops.each do |stop| %>
          <tr>
            <td><%= stop.name %></td>
            <td><%= stop.latitude %></td>
            <td><%= stop.longitude %></td>
            <td><a href="#">Delete</a></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <%= form_for [:api, :v1, :buses, @timetable, @stop], html: { class: 'form-inline' } do |f| %>
            <%= f.hidden_field :timetable_id, :value => @timetable.id %>
            <td><%= f.text_field :name, { :class => "form-control input-sm", :placeholder => "Stop name"} %></td>
            <td><%= f.text_field :latitude, { :class => "form-control input-sm", :placeholder => "Latitude"} %></td>
            <td><%= f.text_field :longitude, { :class => "form-control input-sm", :placeholder => "Longitude"} %></td>
            <td><%= f.submit 'Add Stop', { :class => "btn btn-sm btn-primary" } %>
          <% end %>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
