<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Buses", api_v1_buses_path %></li>
    <li class="active"><%= @timetable.name%> Timetable</li>
  </ol>
<% end %>

<% content_for :scripts do %>
    <script type="text/javascript">
      $(function () {
        var url = document.location.toString();
        if (url.match('#')) {
          $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
        } 

        // Change hash for page-reload
        $('.nav-tabs a').on('shown', function (e) {
          window.location.hash = e.target.hash;
        })
      });
    </script>
<% end %>

<h1 class="page-header"><%= @timetable.name %>&nbsp;<small>Routes &amp; Stops</small></h1>

<%= button_to 'Delete', api_v1_buses_timetable_path(:timetable_start_date => @timetable.start), method: :delete, data: { confirm: 'Are you sure you wish to delete this timetable?' }, :class => "btn btn-danger btn-sm pull-right", :style => "margin-left:10px" %>
<%= button_to 'Publish', api_v1_buses_timetable_publish_path(:timetable_start_date => @timetable.start), method: :post, data: { confirm: 'Are you sure you want to publish the timetable? All clients will see this change.' }, :class => "btn btn-primary btn-sm pull-right"%>
<p class="pull-right"  style="margin:7px;"><%= link_to 'Edit', edit_api_v1_buses_timetable_path(:start_date => @timetable.start)%></p>
<p class="pull-right" style="margin:7px;">Current version: <strong><%= @timetable.current_version %></strong></p>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#routes" data-toggle="tab">Routes</a></li>
  <li><a href="#stops" data-toggle="tab">Stops</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="routes">
    <h3>Routes</h3>
    
    <%= form_for [:api, :v1, :buses, @timetable, @route], html: { class: 'form-inline'} do |f| %>
    <table class="table table-striped">
      <tbody>
        <% if @timetable.routes.count == 0 %>
          <td colspan="5"><h3 class="text-center">There doesn't seem to be anything here yet!</h1></td>
        <% else %>        
          <% curr_route = '' %>
          <% @timetable.routes.order('name').each do |route| %>
            <% if curr_route != route.name 
                  curr_route = route.name %>
                  <tr>
                    <th><h4>Route <%= route.name %></h4></th>
                    <th style="vertical-align:middle">Description</th>
                    <th style="vertical-align:middle">Start</th>
                    <th style="vertical-align:middle" >End</th>
                    <th colspan="2"></th>
                  </tr>
            <% end  %>
            <tr>
              <td><%= link_to route.name, api_v1_buses_timetable_route_path(:timetable_start_date => @timetable.start, :id => route.id) %>
              <td><%= route.description %></td>
              <td><%= Date::DAYNAMES[route.start_day] %></td>
              <td><%= Date::DAYNAMES[route.end_day] %></td>
              <td><%= link_to 'Edit', edit_api_v1_buses_timetable_route_path(:timetable_start_date => @timetable.start, :id => route.id) %></td>
              <td><%= link_to 'Destroy', api_v1_buses_timetable_route_path(:timetable_start_date => @timetable.start, :id => route.id),
                      method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
            <td><%= f.hidden_field :timetable_id, :value => @timetable.id %>
              <%= f.text_field :name, { :class => "form-control input-sm", :placeholder => "Route name"} %></td>
            <td><%= f.text_field :description, { class: 'form-control input-sm', :placeholder => "Description" } %></td>
            <td><%= f.select(:start_day, [['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6], ['Sunday', 0]], {}, class: 'input-sm form-control' ) %></td>
            <td><%= f.select(:end_day, [['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6], ['Sunday', 0]], { :selected => 5 }, class: 'input-sm form-control' ) %></td>
            <td colspan="2"><%= f.submit 'Add Route', { :class =>  "btn btn-sm btn-primary"} %></td>
        </tr>
      </tfoot>
    </table>
    <% end %> 
  </div>
  <div class="tab-pane" id="stops">
    <h3>Stops</h3>
    <%= form_for [:api, :v1, :buses, @timetable, @stop], html: { class: 'form-inline' } do |f| %>
    <table class="table table-striped">
      <thead>
        <th>Stop</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th colspan="2"></th>
      </thead>
      <tbody>
        <% if @timetable.stops.count == 0 %>
          <td colspan="4"><h3 class="text-center">There doesn't seem to be anything here yet!</h1></td>
        <% end %>
        <% @timetable.stops.each do |stop| %>
          <tr>
            <td><%= stop.name %></td>
            <td><%= stop.latitude %></td>
            <td><%= stop.longitude %></td>
            <td><%= link_to 'Edit', edit_api_v1_buses_timetable_stop_path(:timetable_start_date => @timetable.start, :id => stop.id) %></td>
            <td><%= link_to 'Destroy', api_v1_buses_timetable_stop_path(:timetable_start_date => @timetable.start, :id => stop.id),
              method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td><%= f.hidden_field :timetable_id, :value => @timetable.id %>
              <%= f.text_field :name, { :class => "form-control input-sm", :placeholder => "Stop name"} %></td>
          <td><%= f.text_field :latitude, { :class => "form-control input-sm", :placeholder => "Latitude"} %></td>
          <td><%= f.text_field :longitude, { :class => "form-control input-sm", :placeholder => "Longitude"} %></td>
          <td><%= f.submit 'Add Stop', { :class => "btn btn-sm btn-primary" } %></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
    <% end %>
  </div>
</div>

