<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Developers", developers_path %></li>
    <li class="active">Earnings</li>
  </ol>
<% end %>

<div class="page-header">
<h1>Earnings API</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover vertical-align-middle" width="100%">
    <thead>
      <tr>
        <th>API</th>
        <th>Version</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Earnings by Age Group</td>
        <td>1.0</td>
        <td>Earnings by age group since 2012, includes lower quartile, median and upper quartile.</td>
        <td><%= link_to 'XML', api_v10_earnings_earnings_age_group_path(:format => "xml")  %></td>
        <td><%= link_to 'JSON', api_v10_earnings_earnings_age_group_path(:format => "json")  %></td>
        <td><%= link_to 'RAW HTML', api_v10_earnings_earnings_age_group_path(:format => "html", layout: false)  %></td>
        <td><%= link_to 'HTML', api_v10_earnings_earnings_age_group_path(:format => "html")  %></td>
      </tr>
      <tr>
        <td>Earnings by Sector</td>
        <td>1.0</td>
        <td>Earnings by sector since 2012, includes lower quartile, median and upper quartile.</td>
        <td><%= link_to 'XML', api_v10_earnings_earnings_sector_path(:format => "xml")  %></td>
        <td><%= link_to 'JSON', api_v10_earnings_earnings_sector_path(:format => "json")  %></td>
        <td><%= link_to 'RAW HTML', api_v10_earnings_earnings_sector_path(:format => "html", layout: false)  %></td>
        <td><%= link_to 'HTML', api_v10_earnings_earnings_sector_path(:format => "html")  %></td>
      </tr>
      <tr>
        <td>Earnings by Sex</td>
        <td>1.0</td>
        <td>Earnings by sex since 2005, includes nominal and real.</td>
        <td><%= link_to 'XML', api_v10_earnings_earnings_sex_path(:format => "xml")  %></td>
        <td><%= link_to 'JSON', api_v10_earnings_earnings_sex_path(:format => "json")  %></td>
        <td><%= link_to 'RAW HTML', api_v10_earnings_earnings_sex_path(:format => "html", layout: false)  %></td>
        <td><%= link_to 'HTML', api_v10_earnings_earnings_sex_path(:format => "html")  %></td>
      </tr>
    </tbody>
  </table>
</div>

<p>Source: <a href="http://www.gov.gg/earnings">gov.gg</a></p>
<p><em>Updated 13/04/2015</em></p>