<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Charts", charts_path %></li>
    <li><%= link_to 'Population', charts_population_path %></li>
    <li class="active">Male vs Female</li>
  </ol>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Population</h1>
    </div>

    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><%= link_to 'Population', charts_population_path %></li>
      <li role="presentation"><%= link_to 'Parish', charts_population_parish_path %></li>
    </ul>
  </div>
</div>

<div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
<%= javascript_tag do %>
$(function() {
  initPage();
});
$(window).bind('page:change', function() {
  initPage();
});

function initPage() {
    var yLabels = <%= @labels.to_json.html_safe %>;

    $('#container').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Male vs Female Population by Year'
        },
        xAxis: {
            allowDecimals: false,
            title: {
                text: 'Year'
            }
        },
        yAxis: {
            allowDecimals: false,
            title: {
                text: 'Count'
            }
        },
        plotOptions: {
            line: {
              pointStart: <%= @min_label.to_json.html_safe %>,
            }
        },
        series: [{
            name: 'Male',
            data: <%= @male.to_json.html_safe -%>
        },
        {
            name: 'Female',
            data: <%= @female.to_json.html_safe -%>
        }]
    });
}
<% end %>
