<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Charts", charts_path %></li>
  <li><%= link_to 'Population', charts_population_path %></li>
  <li class="active">Parish</li>
</ol>
<% end %>

<div class="page-header">
  <h1>Population</h1>
</div>

<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to 'Population', charts_population_path %></li>
  <li role="presentation" class="active"><%= link_to 'Parish', charts_population_parish_path %></li>
</ul>

<h3>Parish</h3>

<div id="container" style="min-width: 310px; max-width: 800px"></div>

<%= javascript_tag do %>
$(function() {
  initPage();
});
$(window).bind('page:change', function() {
  initPage();
});

function initPage() {
    // Prepare random data
    var data = [
    ];

    $.getJSON('http://localhost:3000/guernsey.json', function (geojson) {

        // Initiate the chart
        $('#container').highcharts('Map', {

            title : {
                text : 'Guernsey'
            },

            mapNavigation: {
                enabled: true,
                buttonOptions: {
                    verticalAlign: 'bottom'
                }
            },

            colorAxis: {
            },

            xAxis: {
                minRange: 0.1
            },

            yAxis: {
                minRange: 0.1
            },


            series : [{
                data : data,
                mapData: geojson,
                name: 'Random data',
            }]
        });
    });
}
<% end %>