<!DOCTYPE html>
<html lang="en">
  <head>
    <title>data.gg (beta)</title>
    <%= stylesheet_link_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag :application %>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-3454450-14', 'data.gg');
    ga('send', 'pageview');
  </script>
</head>
<body>
  
  
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to(raw("data.gg <sup style='font-size:0.5em;position:relative;top:-8px'>BETA</sup>"), "/", class: "navbar-brand") %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Contribute', contribute_path %></li>
          <li><%= link_to 'Charts', charts_index_path %></li>
          <li><%= link_to 'Developers', developers_index_path %></li>
          <!--<li><%= link_to 'Help', help_path %></li>-->
          <% if user_signed_in? %>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <% if current_page?('/') %>
    <div class="<%= 'container' unless true %>">
      <%= yield %>
    </div>
  <% else %>
    <div id="breadcrumb">
      <div class="container">
        <%= yield :breadcrumb %>
      </div>
    </div>
    <div class="container">
    
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "alert alert-#{key}" %>
      <% end %>
    
      <%= yield %>
    </div>
  <% end %>
  

</div>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="muted credit">Created by <%= link_to 'Jason Magee', 'http://jasemagee.com' %> and
          <%= link_to 'Kieran Senior', 'http://kieransenior.co.uk/' %> from <%= link_to 'Reformsoft', 'http://reformsoft.org' %></p>
          
          <p>Visit our friends at <%= link_to 'data.je', 'http://www.data.je' %></p>
      </div>
      
      <div class="col-md-2">
        <ul>
          <li><strong><%= link_to 'Home', root_path %></strong></li>
          <li><%= link_to 'Contact', charts_index_path %></li>
          <li><%= link_to 'Contribute', contribute_path %></li>
          <li><%= link_to 'Twitter', 'http://www.twitter.com/datagg' %></li>
          <li><%= link_to 'Email', 'mailto:hey@data.gg' %></li>
        </ul>
      </div>
      
      <div class="col-md-2">
        <ul>
          <li><strong><%= link_to 'Charts', charts_index_path %></strong></li>
          <li><%= link_to 'Buses', charts_buses_index_path %></li>
          <li><%= link_to 'Earnings', charts_earnings_index_path %></li>
          <li><%= link_to 'Education', charts_education_index_path %></li>
          <li><%= link_to 'Housing', charts_housing_index_path %></li>
          <li><%= link_to 'Police', charts_police_index_path %></li>
          <li><%= link_to 'Population', charts_population_index_path %></li>
        </ul>
      </div>
      
      <div class="col-md-1">
        <ul>
          <li><strong><%= link_to 'Developers', developers_index_path %></strong></li>
          <li><%= link_to 'Buses', developers_buses_index_path %></li>
          <li><%= link_to 'Earnings', developers_earnings_index_path %></li>
          <li><%= link_to 'Education', developers_education_index_path %></li>
          <li><%= link_to 'Flights', developers_flights_index_path %></li>
          <li><%= link_to 'Housing', developers_housing_index_path %></li>
          <li><%= link_to 'Police', developers_police_index_path %></li>
          <li><%= link_to 'Population', developers_population_index_path %></li>
          <li><%= link_to 'Sailings', developers_sailings_index_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true %>

  <script type="text/javascript">
    $(document).ready(function() {
       var hash = window.location.hash;

       if (hash != "")
           $('.nav-tabs a[href="' + hash + '"]').tab('show');
       else
           $('.nav-tabs a:first').tab('show');
    });
  </script>
</body>
</html>
